[2015-12-02 21:12] tskisner opened #2 "Implement toast.tod.noise"
Create a base class which represents the noise properties for all detectors for a given observation.  For the first implementation, this is just a list of PSDs, one per detector.  The interface will include methods for applying ntt and ntt^-1.

[2015-12-02 21:16] tskisner opened #3 "Planck IQU pointing fails when passed to OpMadam"
Currently, pointing constructed with OpPointingPlanck passing 'mode = "IQU"' to the constructor results in OpMadam not solving for any pixels.

[2015-12-02 21:24] tskisner opened #4 "Implement conviqt operator"
Implement an operator which uses libconviqt to to simulate data for all detectors in an observation.

[2015-12-09 21:42] tskisner opened #5 "Implement data redistribution"
Currently we only use time-based data distribution within the communicator that handles a given observation.  There are some cases where we want to have a timestream assigned to a single process, to facilitate simulation.  Add functions to redistribute and communicate data within an observation.

[2015-12-09 21:49] tskisner opened #6 "Noise simulations do not use streamed RNG"
Currently, OpSimNoise just implements different seeds for each detector in an observation.  This does not guarantee statistical independence.  Wrap rng123 with python so we can use it.

[2015-12-09 21:51] #2 closed, assigned to tskisner

[2015-12-09 21:54] tskisner opened #7 "Noise simulations will have discontinuities at data distribution boundaries."
Since current noise sims have each process simulate a piece of timestream independently, there will be discontinuities at the process boundaries.  The solution is to either redistribute the data so that one process has the whole timestream, OR have every process simulate the whole dataset up to their local start sample, OR to use a python wrapper around fftw-mpi.

[2015-12-16 01:18] #3 closed, assigned to nobody

[2015-12-16 01:22] tskisner opened #8 "Update Documentation"
Add docstrings for all public classes and functions.  Expand examples.  Update generated docs on gh-pages.

[2016-03-02 18:21] #4 closed, assigned to tskisner

[2016-03-02 18:24] tskisner opened #9 "Noise generation seed broken"
OpSimNoise is missing functionality to set the random seeds based on the global stream index, the observation index, the number of chunks in a single observation, and the channel number.

[2016-03-02 18:25] tskisner opened #10 "Planck classes and scripts should be removed."
All planck extensions should go to new pytoast-planck repo.

[2016-03-02 18:26] tskisner opened #11 "Common code for pointing and noise"
Many recent functions that are in the litebird software stack are more general and should be moved to pytoast proper.

[2016-04-06 17:42] #11 closed, assigned to tskisner

[2016-04-06 17:43] #9 closed, assigned to tskisner

[2016-04-06 17:47] #10 closed, assigned to tskisner

[2016-04-06 17:53] tskisner opened #12 "Implement I/O of distributed pixel objects"
In order to load a map for scanning or to write out a distributed pixel covariance, we need to implement read-and-broadcast and reduce-and-write.

[2016-04-11 14:10] tskisner opened #13 "Memory usage is high in TOD base class"
The TOD base class is used to cache pointing, pointing matrices, etc.  These vectors are numpy arrays stored in a dictionary.  Even when these dictionary keys are explicitly deleted, the memory does not seem to be garbage collected (based on memory_profiler output).

[2016-04-12 20:53] tskisner opened #14 "Reorganize caching in TOD class"
Currently the read/write methods of the TOD base class are being abused to implement timestream caching.  This prevents descendant classes from using this cache.  This should be moved into an explicit, separate object.  The TOD base class can still contain an instance of this "cache" object, but this will then be available to all descendents.  It also opens the possibility for us to explicitly man

[2016-04-21 15:10] #14 closed, assigned to tskisner

[2016-04-21 15:11] #13 closed, assigned to tskisner

[2016-04-21 18:43] tskisner opened #15 "Noise base class should provide general multiply / inverse multiply methods."
It is fine for the base class to provide its list of internal PSDs.  However, we should allow derived classes to provide generic methods to multiply by the time domain noise covariance.  This would allow (for example) inclusion of a filter in the noise model.

[2016-04-21 19:38] tskisner opened #16 "Add a generic TOD class for simulated ground observations"
We should construct a generic class for simulated constant elevation scans from the ground.  The PALPY package is actively maintained successor to pyslalib that we can use.

[2016-04-21 19:42] tskisner opened #17 "Add moving-slab atmosphere model"
Following Josquin Errard's approach, construct realizations of the atmospheric emission and pass them across the field of view.

[2016-04-21 19:49] tskisner opened #18 "Implement or find PCG solver"
Scipy has generic solvers, so perhaps we can use them.  The critical feature is that we need to be able to  perform MPI communication inside the left hand side evaluation.  This solver is needed for both the full GLS mapmaking ported from TOAST, and also for the destriper.  This issue is to track search results on this topic.

[2016-04-22 16:16] tskisner opened #19 "Installation requires MPI"
Currently, running setup.py instantiates the MPI-aware unit test runner.  This effectively means that in order to install the package (python3 setup.py install), it must be possible to initialize MPI.  However, on some systems (NERSC), MPI cannot be initialized on the login nodes.  This is inconvenient, but when installing from a compute node, the global/common filesystem is mounted read-only.  So

[2016-04-25 23:44] tskisner commented on #6
It looks like the reikna package may already have a python implementation of the stateless algorithm used in random123:

https://github.com/fjarri/reikna/blob/develop/reikna/cbrng/cbrng.py

[2016-04-27 13:48] tskisner commented on #19
fixed by 8ff8ce81c65d1c892566423c2ed4d1aa5fc3ceae

[2016-04-27 13:48] #19 closed

[2016-04-27 13:50] tskisner commented on #8
Documentation is fairly complete as of 4249c70c0fcef2ca32cabd596c6fa3f788bc005e.  Still need to add some figures, but closing this for now.

[2016-04-27 13:50] #8 closed

[2016-04-28 13:48] tskisner opened #23 "Default behavior when reading from TOD class should be to return all local samples"
We often just want all the samples, specifying local_start and n is tedious.

[2016-04-29 20:37] tskisner opened #24 "When passing data to libmadam, do not copy"
change the interface to libmadam to take an array of pointers to each detector's data.  This would allow us to avoid duplicating all the memory when passing it to libmadam

[2016-04-29 20:53] tskisner opened #25 "helper class to implement MPI-based locking"
Add a class that implements a exclusive lock using MPI-2 one sided communication.  Similar to what is done in HARP.

[2016-04-30 05:42] #23 closed

[2016-04-30 06:38] tskisner commented on #24
I looked into this briefly.  In principle, it would definitely be possible to pass an array of c_ptr to madam for the signal, pixels, and weights.  Then when looping over detectors, we could use c_f_pointer to get a fortran pointer to the data from the correct element of the input pointer array.  However, currently the madam code base uses a monolithic block of memory to store this data and then p

[2016-05-02 11:09] tskisner commented on #24
I have modified the external libmadam to avoid one of the copies, but we are still stuck with 2 full copies of the data in memory.  This is the best we can do for the short term, and will address this in the long term with ports of the native mapmaking tools.

[2016-05-02 11:09] #24 closed

[2016-05-02 11:20] tskisner opened #26 "Use cache for DistPixels"
Move the Cache class out of tod and up one level.  Use an instance of Cache for local data storage in the DistPixels class.  This will make it easier to manage memory used by map domain objects.

[2016-05-02 16:51] tskisner opened #27 "Pointing manipulation functions"
We will need a set of common routines for various pointing operations:  aberration calculation, positional astronomy operations, coordinate transforms, etc.  These are free functions that we should put into a new source file in toast.tod

[2016-05-02 17:14] tskisner opened #28 "TOD telescope position and velocity"
The TOD class represents data from a telescope.  There should be general methods to return the position and velocity vectors of the telescope.

[2016-05-02 17:17] tskisner opened #29 "TOD flag methods"
To make the interface more consistent, the read_flags() method should be the only one returning flags.  The read(), read_pntg(), etc methods should just return data.  For some experiment-specific TOD classes reading some data formats (e.g. FITS binary tables), it is most efficient to read flags at the same time as the data and cache them.  That is a detail left to those classes.

[2016-05-02 17:20] tskisner opened #30 "Dipole timestream generation"
We should have an operator in toast.tod.sim_detdata that generates a dipole signal for each detector.  This would be computed based on the detector pointing and telescope velocity.

[2016-05-02 17:23] tskisner opened #31 "Helper function for application of time-varying calibration"
Add a free function to toast.tod.tod.py that takes a sparsely sampled set of gain factors, interpolates them to detector timestamps (using some interpolation order), and applies them element-wise to a data vector.

[2016-05-03 13:34] #29 closed

[2016-05-03 16:14] tskisner opened #32 "Consistent treatment of base class methods"
The TOD base class is currently acting as both an interface definition for internal methods called by the high-level read/write functions and as a memory-backed generic TOD container.  We should split this functionality into the actual base class where the internal methods (prefixed with underscore) raise exceptions when called and a separate derived class which has a memory-based backend.

[2016-05-03 19:13] #28 closed

[2016-05-03 19:37] tskisner opened #34 "Potential issue with example toast_satellite_sim.py"
This problem was actually observed with the LiteBIRD simulation script, which is very similar to the example script.  The simulation configuration was using observation lengths of 23 hours, with a one hour gap in between.  The data was distributed in chunks of 1 hour.  The symptom is that when running with one simulated day per node, things seem to usually work fine.  When running with different c

[2016-05-05 14:25] tskisner commented on #6
I spent some time looking at the source code for random123, reikna, numpy.random, and our own legacy code in MOAT (a custom implementation of a different streamed RNG algorithm by L'Ecuyer, mrg32k3a).  The requirements we have are:

1.  For a given seed (starting state), we must be able to specify a 64-bit "stream index", where the values drawn from each stream are independent.  Many off-the-shelf

[2016-05-05 15:04] keskitalo commented on #6
Do we have any idea about the relative efficiency of these algorithms?

On Thu, May 5, 2016 at 7:25 AM, Theodore Kisner <notifications@github.com>
wrote:

[2016-05-05 15:36] tskisner commented on #6
The only information I have is about the performance of the code I wrote.
In that case, the generation of the Gaussian randoms was subdominant
compared to the cost of the FFTs needed to generate noise timestreams.

Have we established whether those other algorithms can meet the
requirements for a 64bit integer stream index and drawing more than 2^32
samples from each stream?
On May 5, 2016 8:04 AM

[2016-05-05 18:43] jsavarit commented on #6
From the library random123, the most suited RNG to our usage seems to be Threefry. If we have AES hardware support, the ARS RNG could be a good option as well.

For **Threefry-2x64**, at each call:
- we provide:
  - a **counter** (2 x 64-bit) = the period of a stream is (2^64 * 2^64) = 10^38, which is long enough for a whole CMB S4 experiment (a 2^64 = 10^19 period would be too short)
  - a key (2

[2016-05-05 19:00] tskisner commented on #6
Thanks for the overview Jean.  It sounds like the counter in these algorithms is indeed sufficient to store our stream index and sample.  That's great that the performance is better than mrg32k3a as well.

As for the interface, I just wanted to understand you proposal.  I think what you are saying is that you are writing a C interface that we can put in libctoast, and which provides a simpler API

[2016-05-06 16:44] tskisner commented on #32
This was implemented and closed by 3279ef63d68d01018ec3ee30c09a1544cfce5c35.

[2016-05-06 16:44] #32 closed

[2016-05-06 16:47] tskisner opened #36 "Native timestream data format"
We should implement a TOD derived class which reads / writes to a tidas volume (HDF5 backend).  This is pending several things, in particular a few remaining issues holding up the initial tidas release.  This functionality would be useful for dumping timestreams to disk for both debugging and external validation by other software tools.

[2016-05-06 18:26] #31 closed

[2016-05-10 20:11] tskisner opened #38 "Noise simulation operator should take stream index"
In addition to the seed, we should pass the stream index.

[2016-05-10 20:53] tskisner opened #39 "Common mode noise"
We should add support for generating common node noise between detectors

[2016-05-13 21:16] tskisner opened #40 "Test suite does not work with installed modules"
When running the test suite from within the source tree, but using an installed version of toast, there are errors.  The installed code is usable outside of the source tree, and the tests work when running within the source tree using the develop script.

[2016-06-07 23:17] tskisner commented on #26
Implemented by 0741d16eb88034848656cd4cb1f98786e8052fe7.

[2016-06-07 23:17] #26 closed

[2016-06-07 23:18] tskisner commented on #12
Implemented by 0741d16eb88034848656cd4cb1f98786e8052fe7.

[2016-06-07 23:18] #12 closed

[2016-06-07 23:23] tskisner commented on #34
Collecting the results of more tests from a variety of sources...  This behavior has been seen at high concurrency (384 edison nodes) with a Core boresight detector simulation (where memory should not be an issue).  Lower concurrency jobs run fine and produce consistent binned maps.  @keskitalo has seen similar crashes with libconviqt simulation runs at even lower concurrency.  @tskisner will try

[2016-07-27 23:20] tskisner commented on #34
This was actually due to several pipeline scripts using too large a value for the Madam nside_submap parameter.  This parameter influences a memory allocation that scales as the number of processes.  At high concurrency and large values of the parameter, this memory use was quite large.  Scripts now use a fixed value (16) or the nside of the map, which ever is smaller.

[2016-07-27 23:20] #34 closed

[2016-08-04 19:26] tskisner opened #54 "Noise timestream normalization"
I am raising this issue even though I am close to fixing it, because it impacts simulations which are underway.  In our current formalism for generating noise timestreams from a PSD, we usually express Parseval's theorem as:  the variance of the generated noise timestream should equal the integral of the PSD from zero to Nyquist.  There was actually not a unit test for this requirement, but I just

[2016-08-04 19:30] tskisner commented on #38
The noise simulation now takes a stream index and a realization.  Implemented by a4299dd8204d99c3f2b36885ebe1771e420cd361.

[2016-08-04 19:30] #38 closed

[2016-08-04 19:33] tskisner commented on #6
This is fully implemented as of 43d346636423136117872e2044383c720d6a9d34.

[2016-08-04 19:33] #6 closed

[2016-09-06 23:25] bcrill opened #61 "madam.py small logic error"
Hi guys:

https://github.com/hpc4cmb/toast/blob/master/toast/map/madam.py#L318

if self._apply_flag is False and self._purge is True, then the variable cacheflagname is accessed prior to initialization.

Should be easy to fix!

Cheers,

Brendan

[2016-09-06 23:26] keskitalo commented on #61
Thanks Brendan!

-R

On Tue, Sep 6, 2016 at 4:25 PM, bcrill <notifications@github.com> wrote:

[2016-09-06 23:49] keskitalo commented on #61
Fixed in bff65f77ff5105c7cc2796a6ebd803e97b8e338c

[2016-09-06 23:49] #61 closed

[2016-10-05 20:45] tskisner opened #64 "Noise model PSD spacing"
The current noise PSD model is not being generated at high enough resolution for the interpolation.  Also, we probably remove the built-in high pass in this model.

[2016-10-05 20:47] tskisner commented on #54
This was fixed by 697a1635abe4cd33e2154c6943d9fa4841b4a82c.

[2016-10-05 20:47] #54 closed

[2016-10-06 14:08] tskisner commented on #64
Some more investigations into this.  First, to review:

1.  toast uses the historical f_knee / f_min analytic noise model that prevents the spectrum from blowing up when sampled at very low frequency.

2.  toast does dynamic binning in frequency when generating the PSD.  The first bin is set at f_min, and then the bins are doubled in size until a frequency of 10*f_knee.  At that point the noise sh

[2016-10-06 14:23] jdborrill commented on #64
I'm confused, since the problem showed up in single-detector runs with the
same PSD throughout, so all the PSDs *should* have had the same binning.

Julian

On Thu, Oct 6, 2016 at 7:08 AM, Theodore Kisner <notifications@github.com>
wrote:

[2016-10-06 14:59] tskisner commented on #64
The case which I can see more easily is in the unit test when there are several detectors, including one with white noise (f_knee=0).  This f_knee value was being used to set the frequency binning, cause all detectors to have equal spaced (and very large) frequency bins.  There may be several issues going on.  I'll fix this first one and then try to reproduce the issue with f_knee very low (1mHz).

[2016-10-10 18:20] tskisner commented on #64
I just opened a pull request which fixes this and potentially other issues.  Attached are the output plots generated by the unit tests showing the improved spacing of the simulated PSDs.
![simnoise](https://cloud.githubusercontent.com/assets/84221/19246518/97de5d02-8edb-11e6-8c51-fc581d197753.png)

[2016-10-10 18:22] tskisner commented on #64
Note that the one "bad" looking case is designed to be bad- it has a knee frequency of 2Hz (for a sample rate of 20Hz), so there is essentially no white noise plateau.

[2016-10-12 05:47] tskisner commented on #64
Fixed by a1834393441c65cc783d60cb08c74f9226a6d66e.

[2016-10-12 05:47] #64 closed

[2016-10-14 21:52] tskisner opened #66 "Design Roadmap Notes"
This issue is for documenting design discussions held offline concerning the use of compiled code in toast.  There are a variety of tradeoffs in play, but broadly:
1.  Python is great for prototyping and for use in workflow management.  However, it can't use threads.
2.  Manycore systems are coming online right now.  They require the use of threads for best performance.
3.  In toast, we will need

[2016-11-03 18:28] tskisner opened #68 "Generated noise TOD has wrong PSD"
It pains me to open this issue, but it looks like there is a problem with a few lines of code which results in generated noise timestreams having the incorrect PSD.  The problem is that the Fourier domain vector that is input to scipy.fft.irfft expects complex values packed as pairs of real and imaginary values, and we have instead been passing in data in the half-complex fftw storage ordering.  T

[2016-11-03 18:35] tskisner commented on #68
Here is a quick plot showing how the incorrect ordering of Fourier domain elements previously led to some power being shifted from low frequency to high.
![noise_issue_68](https://cloud.githubusercontent.com/assets/84221/19979966/8c34af10-a1b9-11e6-8332-588d4ddb4836.png)

[2016-11-08 05:59] tskisner commented on #68
This is closed by bfd6b9b64c711655c36995b91e266f709b7ad7f3.  The PSD estimated from the generated noise TOD now agrees with the input, and unit tests have been added to check this.
![out_test_simnoise_binpsd_dist_f2b](https://cloud.githubusercontent.com/assets/84221/20088529/74c0b7f0-a535-11e6-96ff-66ff3e5c74d6.png)

[2016-11-08 05:59] #68 closed

[2016-12-06 22:36] tskisner opened #76 "Add valid intervals to map making unit tests"
The current unit tests that call libmadam do not include a list of valid intervals.  We should add that feature to improve our test coverage.

[2017-01-12 19:59] tskisner opened #80 "Add coordinate transform options"
It would be good to modify the healpix pointing operator to add arguments for the input and desired coordinate systems.

[2017-04-26 06:40] tskisner commented on #30
This was added by 67af24d3e092f682b1c54c4e8c99d2f0995a5e8b.  Closing.

[2017-04-26 06:40] #30 closed

[2017-05-09 15:42] triskadecaepyon opened #87 "Elemental Library is required for building from source; not optional"
When building TOAST from source, Elemental is a strict requirement and not optional, as the documentation alludes to.

In toast/src/libtoast/toast.cpp with HAVE_ELEMENTAL, the IFDEF will break the namespace of toast when compiling the c++ dependencies.

Configure, make, and the documentation should be modified to reflect this.

[2017-05-09 18:15] tskisner commented on #87
This should be fixed in d56daced3da464674e4a071e661c901054f54f25.  I forgot to add ifdef checks in the C language bindings.

[2017-05-09 18:18] tskisner commented on #40
This is no longer relevant since the switch to C++ internally.  The unit tests are now built in to the library.

[2017-05-09 18:18] #40 closed

[2017-07-11 00:03] keskitalo opened #96 "qarray::slerp must handle mixed arrays of quaternions"
Quaternions come in two branches: quat and -quat describe the same final orientation. When interpolating between two quaternions, it is imperative to ensure the two are from the same branch.

[2017-07-11 21:22] #87 closed

[2017-07-11 21:31] tskisner commented on #66
Closing this, since the reorganization proposed here is done.

[2017-07-11 21:31] #66 closed

[2017-07-11 21:33] tskisner commented on #27
Many of these have already been added to toast.pointing_math.  Closing this now since the broad scope has been fulfilled and more specific tickets can be opened as needed.

[2017-07-11 21:33] #27 closed

[2017-07-11 21:37] tskisner commented on #17
This was begun in dee576390416bb5d5ddb78ab40b3f0ab5bda8f1b and has been refined greatly since then.  Closing.

[2017-07-11 21:37] #17 closed

[2017-07-11 21:38] tskisner commented on #16
This was initially implemented in 822fd2308ce0c77a164d511648cbc6b71d1bbb1a and is now quite full-featured.  Closing.

[2017-07-11 21:38] #16 closed

[2017-07-11 21:45] tskisner commented on #7
For short noise simulations, we have worked around this by distributing over detector.  Simultaneous distribution by both time and detector was added in 5568fa457af4efcdc649b167db4405040e255f11.  The longer-term solution to support very long noise simulations will likely be one of:

- A hybrid simulation which generates a realization of low-frequency modes separate from the usual noise PSD.

- The

[2017-07-11 22:28] tskisner opened #97 "Map domain distribution is tedious"
The use of the DistPixels class and externally calculating the locally hit pixels is "clunky".  We should provide a more intuitive way of just getting the already-distributed hits and noise covariance without lots of boilerplate.

[2017-07-11 22:34] tskisner opened #98 "Improve install docs"
Some of our optional dependencies (Elemental) can be quite challenging to install.  We should give some more details here.  Also, we are almost completely independent of healpy in the core toast package, so we might consider finishing that transition.

[2017-07-11 22:37] tskisner opened #99 "Add documentation about internals"
We need some "mid-level" documentation covering the overall design philosophy to help people in writing custom pipeline scripts and new operators.  Something higher-level than just the source code.

[2017-07-11 22:39] tskisner opened #100 "Fix build system annoyances"
There are several automake / libtool features that prevent us from cleanly doing parallel builds.  These have been fixed in other packages, so we should port those changes to toast.

[2017-07-12 21:16] msyriac commented on #18
Check out Sigurd Naess' (@amaurea) implementation here:
https://github.com/amaurea/enlib/blob/master/cg.py

It is MPI-friendly in that you can specify explicitly how the dot product is done.

[2017-08-01 20:51] tskisner opened #104 "Some google test sources missing in distribution"
Some files did not make it into the EXTRA_DIST automake variable.  Same problem was just fixed in another project:  https://github.com/hpc4cmb/tidas/commit/5b0823dbcf5f3e28ce60ba5cc86c9c032c9a4967

[2017-08-01 21:00] tskisner opened #105 "Operators should support subsets of detectors"
Currently, toast operators have an "exec()" method which takes as an argument the high-level distributed data object.  This contains one or more observations, each with some number of locally-stored detector TODs.  These operators then loop over all detectors in each observation and "do stuff", potentially storing the results of some calculation in the TOD's cache.  For complex workflows, this can

[2017-08-07 22:24] tskisner opened #106 "Set of Examples"
We should clean up and update the set of example scripts in toast.  This is loosely coupled to updates to the documentation.  These scripts can serve as both use case examples and for use with scaling tests on Knights Landing.  We should have a set of scripts of different complexity that can then also be run at different concurrency.

**Pipeline Scripts:**
- Satellite scanning with noise simulatio

[2017-08-19 16:38] tskisner commented on #104
Fixed by edabae80366fababbd298a3d1b4b6525a500a2d1.

[2017-08-19 16:38] #104 closed

[2017-08-19 16:38] tskisner commented on #100
Fixed by edabae80366fababbd298a3d1b4b6525a500a2d1.

[2017-08-19 16:38] #100 closed

[2017-08-19 16:42] tskisner opened #110 "MKL FFT failures"
When building with gcc and linking to modern MKL versions, the MKL unit tests fail.  This happens for both single and batched FFTs.  This problem is not seen when using FFTW.  I will disable MKL FFTs in the mean time.

[2017-08-21 05:34] tskisner commented on #110
I thought this problem looked suspiciously familiar...  I actually mostly fixed this in an earlier commit:

https://github.com/hpc4cmb/toast/commit/30c24f91356fcae43e10bfece6f9f69c750b4ed2

But this was done directly to master accidentally as part of other changes and then reverted.  The fix / cleanup was then never migrated to a branch for proper testing and merging.  I'll cherry pick this into a

[2017-08-23 06:09] tskisner opened #111 "Move additional methods into TOD base class"
Currently at least 2 TOD derived classes (Ground and Tidas) have methods to access boresight pointing.  Since we do not generally store detector pointing on disk, all TOD objects that are file-based need to have a way to read and write boresight pointing and also access the detector quaternion offsets from the boresight.  I think access to this information (boresight pointing and detector quaterni

[2017-08-23 15:24] tskisner commented on #111
I had discussion offline with @keskitalo, and he is fine with this plan.  Will work on the implementation.

[2017-08-24 17:24] tskisner commented on #25
This issue has been open a long time, but there is now a more urgent use-case for this.  When reading / writing data to a TIDAS volume, only one process may be writing to a single block at a time.  Since a toast observation (distributed among a process group) corresponds to a tidas block, this means that we need to guard against simultaneous writes from the processes within a group.

[2017-09-07 19:40] tskisner commented on #110
With the latest master branch (after merging the reworking of MKL FFTs in ee43a97c9dace1a4cc1b881f78dc0fa5a9b8fae6), all C++ and python unit tests pass on a workstation using Intel compilers and MKL version 2018-beta.  On edison.nersc.gov, using gcc and MKL, the following behavior is seen:

1.  C++ "single" (one FFT) roundtrip passes.
2.  C++ "multi" (batch of FFTs) roundtrip fails.
3.  Python uni

[2017-09-08 16:39] tskisner commented on #110
Testing this on cori.nersc.gov (KNL) with Intel compilers and MKL also passes all tests.  So this seems to be an interaction between MKL and gcc-6.3 on edison.  I will test that same combination on a workstation to determine if it is NERSC-specific.

[2017-09-08 16:41] tskisner commented on #110
Ok, confirmed that I see the same failures on a linux workstation with latest MKL and gcc-6.3.  That should make it much easier to debug.

[2017-09-08 17:10] tskisner commented on #110
On deeper inspection, this is actually a problem with the persistent cache of fft plans.  In the older versions of toast, we had independent OpenMP threads that were processing pieces of the data and so we needed different FFT plans for each thread.  In the current version of toast, we made a design decision to keep threading at a lower level, so that mid-level operations could be done in python.

[2017-09-09 04:09] tskisner commented on #110
OK, I found the real source of the problem.  We always link to the single-library version of MKL (libmkl_rt).  However, as documented here:

https://software.intel.com/en-us/forums/intel-math-kernel-library/topic/657060

This defaults to using the Intel OpenMP library rather than the GNU one.  This means that when compiling with gcc and linking to MKL, operations with OMP_NUM_THREADS > 1 will give

[2017-09-10 17:23] tskisner commented on #110
I explored this in more detail, and implemented a test during configure that links to MKL differently depending on the compiler used.  This works when linking C++ code (like the toast_test executable used to run the compiled unit tests).

However, when we dlopen (through ctypes) the libtoast.so library, it tries to dlopen its chain of dependency libraries and claims that libmkl_gnu_thread has miss

[2017-09-13 17:02] tskisner commented on #110
The discussion so far in this issue holds true and makes sense for C++ code linking to MKL.  If you use gnu compilers and -fopenmp, but then want to link to threaded MKL, you must ensure that the gnu threading interface is used (by calling mkl_set_threading_layer() or setting the proper environment variable).

Things become more difficult when throwing in anaconda python.  Anaconda (and Intel Dist

[2017-09-13 19:12] tskisner commented on #110
I have looked into the static linking option, and even after jumping through hoops with libtool this does not really work.  I think the only sane path here is to simply only use MKL when we are also using the Intel compiler.  Again the solution for pure C++ code is straightforward (use libmkl_rt with threading layer set to gnu or intel, OR link explicitly to the list of MKL libraries).

When mixin

[2017-09-15 16:36] tskisner commented on #110
Closed by #114

[2017-09-15 16:36] #110 closed

[2017-09-22 21:58] tskisner commented on #111
This is implemented in 5a93a0407a427470ecfaf764c991008ce745f607.  Closing.

[2017-09-22 21:58] #111 closed

[2017-09-22 21:59] tskisner commented on #36
Implemented in 5a93a0407a427470ecfaf764c991008ce745f607.

[2017-09-22 21:59] #36 closed

[2017-10-02 10:46] zonca opened #116 "Preliminary test of integration of PySM"
I believe it would be useful to start wrapping our mind around integrating `PySM` (https://github.com/bthorne93/PySM_public) into `TOAST`.
We don't need to implement it yet, but it would be interesting to understand:

* if this integration would pose any constraint to `TOAST` or to `PySM`
* how `PySM` can leverage some `TOAST` features

In particular `PySM` is now a serial code but the core develo

[2017-10-10 18:58] zonca commented on #116
I'll start writing a code based on the `OpSim` class see:

Scanning from a map.  Top-level operator:
https://github.com/hpc4cmb/toast/blob/b985b3dde91df0fdcfdc0aa24e9cf184bbb03e97/src/python/tod/sim_det_map.py#L116
This calls a function in the compiled library to do the scanning:
https://github.com/hpc4cmb/toast/blob/b985b3dde91df0fdcfdc0aa24e9cf184bbb03e97/src/python/ctoast.py.in#L836
and then:
h

[2017-10-11 13:09] zonca opened #119 "Feedback on installing toast on Ubuntu Xenial"
here are the packages I needed to install on my Ubuntu Xenial to install TOAST:

* `pkg-config`
* `fftw3-dev` (`fftw-dev` was mentioned in the docs, but that installs FFTW2 which then is not recognized by `./configure`
* `libatlas-base-dev`

If I install `mpi4py` with `conda`, I get a `mpich` too old and I get this error:
Tried with `openmpi` and got:
‘MPI_COMM_TYPE_SHARED’ was not declared in thi

[2017-10-11 15:28] zonca commented on #116
@tskisner I checked out `tiny_satellite_shell.sh`, it uses `toast_satellite_sim.py`, I think a simpler script that uses directly the TOAST API would be probably easier for testing the PySM operator, would you have something like that?

[2017-10-11 15:53] tskisner commented on #116
The global pixel indices are what is actually stored in the cache.  These are then converted into locally hit submap and pixel within the submap.  Each process stores locally the submaps which are hit by its local data:  https://github.com/hpc4cmb/toast/blob/19f6315365e97fc1472c3f80154df27db70f73d7/src/python/tod/sim_det_map.py#L174

[2017-10-11 15:58] tskisner commented on #116
As for testing, I could create a stub of the operator and a unit test that creates fake pointing (spiral around healpix ring-ordered pixels.  I agree that the example satellite simulation pipeline is overkill for an isolated test- it is designed to show a full pipeline of operations.

[2017-10-11 16:03] zonca commented on #116
Thanks Ted, that would ease my work a lot!

On Wed, Oct 11, 2017 at 5:58 PM Theodore Kisner <notifications@github.com>
wrote:

[2017-10-11 16:40] tskisner commented on #119
Yes, here are 2 ways I install on Ubuntu:

1.  apt-get everything, including python3-<blah> packages.  Everything just works.

2.  apt-get all compiled dependecies, including cfitsio, fftw, mpich.  Then install conda for all python packages except mpi4py.  Then install mpi4py manually using the system mpich.

Also you can look at how I build dependencies at NERSC (or elsewhere):  https://github.co

[2017-10-11 16:44] tskisner commented on #97
To expand on this.  We should have a class that separately represents the global --> local pixel mapping, but does not store any distributed data array.  Then we pass an instance of that class into the distributed pixel constructor.

[2017-10-11 16:57] zonca commented on #119
ok, thanks, I got TOAST installed

[2017-10-11 16:57] #119 closed

[2017-10-11 17:14] tskisner commented on #116
See #122

[2017-10-30 19:45] zonca opened #124 "Distributed smoothing with libsharp"
@tskisner @keskitalo @jdborrill I got distributed smoothing with `libsharp` working in Python, for now temperature only, I'll implement support for polarization next.

See here an example: https://gist.github.com/zonca/61cb4599dbb063711bdb4917de8c4590

It requires my branch of libsharp at: https://github.com/zonca/libsharp/tree/almxfl
checkout also the output of it running in the comments section

[2017-10-31 14:23] tskisner commented on #106
Although there is always more to do, the scripts documented in this issue are pretty well along by commit 19140a53e50802a8acf612d36c61653bfce98c2b.  Closing for now.

[2017-10-31 14:23] #106 closed

[2017-10-31 14:25] tskisner commented on #39
This was implemented by @keskitalo in 267a610b4d04ef7c7cd1590465e64a5eb9c4a9a8.

[2017-10-31 14:25] #39 closed

[2017-10-31 14:33] tskisner opened #125 "Add developer guidelines"
We need to implement guidelines for our development workflow.  This should include:

- Use of branching, rebasing, and pull requests.
- Techniques for keeping pull requests focused on individual topics.
- Overall source layout and design
- Coding style guide

For the last point, we will implement pre-commit hooks for PEP8 checks (using something like this: https://github.com/cbrueffer/pep8-git-hoo

[2017-10-31 14:36] tskisner commented on #99
This is basically a subset of #125 .  Closing this in favor of that issue.

[2017-10-31 14:36] #99 closed

[2017-10-31 15:26] tskisner opened #126 "Parallelization Design Notes"
This issue is to track thoughts / discussion on parallelization in the codebase.  TOAST v1.0 was a pure C++ code that used MPI to distribute data and then for each process the detectors were distributed over threads and each thread did some operation for its assigned detectors (simulate noise, compute detector quaternions, compute pixel indices and weights, accumulate diagonal covariance, etc).

W

[2017-10-31 16:55] tskisner opened #127 "Poor performance for detector pointing matrix and noise simulation"
This issue shows the timing breakdown of the current master example scripts on KNL and Haswell systems at NERSC.  From this, we can see the large fraction of time spent computing the pointing matrices for each detector (including generating random noise and computing the healpix pixels and weights), as well as generating realistic noise timestreams.  Noise timing here includes both generating unif

[2017-10-31 16:56] tskisner commented on #127
As a follow on, recent work by @jrmadsen shows that this is likely due to threading overhead around calculations that are "too cheap" to effectively use threads.

[2017-10-31 17:46] tskisner commented on #125
Useful uncrustify config (google C++ coding standards):  https://gist.github.com/mkroman/1372117

[2017-11-01 13:59] tskisner opened #128 "Use Intel Compilers in Docker Images"
Our current dockerfile builds with gcc / openblas / fftw.  This has a huge performance impact on KNL.  We should also create a dockerfile that uses the Intel compilers and MKL.  There are multiple paths being explored, including Intel-provided licenses for our build server and also building / installing on the Cray systems and copying the products (and the Intel runtime libraries) into the image.

[2017-11-01 14:06] tskisner commented on #127
As an additional data point, I re-ran the tests above on KNL without any threading (i.e. compilation without -qopenmp), and this produced essentially the same results.  So the current threading has little impact on KNL (we had guessed that based on anecdotal evidence).

[2017-11-01 14:11] tskisner opened #129 "More representative ground simulation example"
For profiling purposes, it would be good to have a ground telescope simulation with realistic ratios of compute time for simulating noise and atmosphere, as well as pointing expansion.  @keskitalo and @jdborrill and I discussed this offline.  I believe the plan is to generate a high-resolution atmosphere slab and also use a realistic number of detectors for one (or a few) CESs.  This will use binn

[2017-11-02 14:48] tskisner commented on #127
I hacked some simple timing into a temporary branch (https://github.com/hpc4cmb/toast/blob/tsk_rng/src/python/tod/sim_det_noise.py#L82).  Running the small satellite example, I get the crude timing below.  It looks like the dominant cost of the noise simulation is neither the RNG nor the inverse FFT.  Instead, there must be something silly causing the PSD interpolation to be slow.  I am focusing o

[2017-11-02 15:46] tskisner opened #130 "Create python profiling class"
We want to time various bits of python code, and here are some requirements of a profiling class:
- Use a simple system clock (e.g. time.monotonic() ).  We do not want these timers to incur any runtime penalty.
- Start / stop / clear a named timer.  If the named timer already exists, then accumulate, else create and initialize it.
- Helper function that takes a communicator and does a gather to on

[2017-11-02 16:06] jrmadsen commented on #127
Is this with the OpenMP RNG or the new one without the OpenMP?

Sent from my iPhone

--
Jonathan R. Madsen

[2017-11-02 16:21] tskisner commented on #127
Swapping out scipy interp1d for basic numpy.interp reduced the iterpolation time above from ~48s to ~28s.  There may be ways to speed that up more in python, or perhaps this is a candidate for moving to the C++ library.

[2017-11-02 16:42] tskisner commented on #127
This was using a temporary branch (tsk_rng) with RNG source code here:  https://github.com/hpc4cmb/toast/blob/tsk_rng/src/libtoast/math/toast_rng.cpp

This just had openmp threading replaced with simd.  No other changes.  So the "rng" timing reported above includes unthreaded (but vectorized to some extent) code.

[2017-11-02 19:10] tskisner commented on #127
Ok, I've run the same case (small satellite example, 1 KNL node, 16 procs x 4 threads, compiled with openmp) using different combinations of the interpolation and the RNG code.

Definitions:
**rng-thread** = original master version of the code with omp for loop.
**rng-simd** = very close to the master version, but with omp simd around the for loop (no threads)
**interp-scipy** = original master ve

[2017-11-03 14:24] tskisner commented on #130
After more discussion with @jrmadsen , we reached consensus that this class should be in C++ with python wrappers, so that we can use it for timing within the C++ code.

[2017-11-03 14:28] tskisner commented on #127
I now ran the "small ground" example which has 122 detectors instead of 2, but has a shorter time span.  These examples have more samples overall than the satellite example.  I don't have an explanation for the variability in the FFT cost (that code was not changed).  Actually I see that the internal FFT (which directly wraps MKL/FFTW) is not being used.  I'll test that to see if it has any change

[2017-11-03 22:32] tskisner opened #134 "Port sim_noise_timestream to C++"
This python function includes calls to the RNG, interpolation, and calls to the FFT.  Based on the timing results in #127, we should move this function to C++.  This is regardless of future work to thread over detectors- just speeding up the single thread performance would be a useful first step.

[2017-11-07 18:52] tskisner opened #136 "External dependencies need updating"
The scripts to install external dependencies at NERSC need to be updated with the following changes, some of which are needed by the legacy (1.0) version of TOAST still used by the Planck pipeline:

1. Add fortran HDF5 bindings (needed by commander)
2. Add custom h5py that links to our (Intel built) libhdf5, rather than using the anaconda package.
3. Fix boost-mpi compilation (needed by febecop)
4

[2017-11-08 16:49] tskisner opened #138 "MPI locking around TIDAS writing does not work"
The TIDAS library supports multiple MPI processes writing to a single **volume**, however each group within a block is (for the hdf5 backend) represented by a single file.  This means that only one process at a time can write to a single group.  In TOAST, a group represents the data for some number of detectors for one observation.  Since the data for one observation is distributed across processe

[2017-11-09 07:35] tskisner commented on #138
I have been able to get writing to work in a branch on the small ground example (8 processes).  Rather than use a mutex lock, I simply serialize writing for processes working on a single observation.  I am backing out some debugging statements before opening a pull request.

[2017-11-20 17:09] zonca commented on #116
First implementation in #137

[2017-11-27 08:21] jrmadsen commented on #138
It is rather inefficient but I have resolved a similar problem with the serializer. Here is what it would look like (I think) in your case, assuming say, group #0 is rank 0-5, group #1 is 6-10, etc.:

``

[2017-11-27 08:27] #130 closed

[2017-11-29 00:31] keskitalo opened #147 "Local interval ranges should be members of the tod object"
Presently we create the local interval ranges from the observation intervals in every operator that needs them. Instead, we should store the local ranges just like we do for the local detectors.

[2017-11-30 15:18] tskisner commented on #136
fixed in bba34e85d09e751f06571121417a00306059e9a2

[2017-11-30 15:18] #136 closed

[2017-11-30 18:31] tskisner opened #148 "PySM Design Notes"
These are high-level notes about PySM integration.  Other, more specific issues should be created for the details.  At the highest level, we want a single toast.Operator class which loops over detectors and for each detector:

- Creates a distributed-ring-format map that has the same distribution as
  libsharp.
- Instantiate a pysm.Instrument object.
- Call pysm.observe for local pixels
- Call lib

[2017-11-30 18:35] tskisner opened #149 "Distributed Ring Map Data"
We need a new class that stores distributed pixel values that are compatible with harmonic transforms.  This is one of the pieces needed by #148.  Each process will have a disjoint set of isolatitude rings.  The distribution of pixels will be compatible with libsharp.

The new class should be similar to the DistPixels class:
https://github.com/hpc4cmb/toast/blob/master/src/python/map/pixels.py#L11

[2017-11-30 18:40] jdborrill commented on #148
The general approach should also be extensible to other beam types -
elliptical, compact irregular (pixel domain), diffuse irregular
(libCONVIQT) - and their associated sky-sampling protocols.

Julian

On Thu, Nov 30, 2017 at 10:31 AM, Theodore Kisner <notifications@github.com>
wrote:

[2017-11-30 23:04] tskisner commented on #148
Yes.  I'll open another more detailed issue for just point 3 above, but briefly it would be like this in pseudocode:
[code]

[2017-12-01 07:35] keskitalo commented on #129
This issue was addressed in 68b8e1e511a87c70f9d63798fb4f827c2796487d.

[2017-12-01 07:35] #129 closed

[2017-12-01 07:38] keskitalo commented on #134
Implemented in e7568cdfa696ee25a19c356c5c1b8a718bc7fa11.

[2017-12-01 07:38] #134 closed

[2017-12-01 07:43] keskitalo commented on #76
The `binned` unit test includes valid intervals and calls Madam.

[2017-12-01 07:43] #76 closed

[2017-12-01 08:15] zonca opened #151 "pipeline fails with no error if output folder is already created"
I am testing `toast` master on Edison.

If the output folder is already been created (as a symlink in my case but I don't think it matters)

I run a job with `toast_satellite_sim.py`, the job runs and no output `log` and no output maps are created in the output folder and no failure is logged in the stdout of the command saved by SLURM.

[2017-12-01 08:24] keskitalo commented on #151
Could this rather be a case of extreme delay in the launch of the Python
job? I have certainly run the satellite script successfully with the output
folder already created. We have experienced very slow Python launches from
time to time on Edison.

On Fri, Dec 1, 2017 at 12:15 AM, Andrea Zonca <notifications@github.com>
wrote:

[2017-12-01 08:30] zonca commented on #151
I tested this with 4 30 min and 1 3:30h jobs, I don't think this is the problem. Maybe the symlink? I'll try with a normal folder and with a symlink and see if anything changes

[2017-12-01 12:52] zonca commented on #151
I made other tests, I don't understand what was going on, I cannot reproduce it. I'll reopen if it happens again.

[2017-12-01 12:52] #151 closed

[2017-12-04 12:36] zonca commented on #148
I missed this note before implementing #152 , anyway I think I got it right based on your discussion.
@tskisner can you please tag me on future PySM related issues?

[2017-12-04 12:42] zonca commented on #148
@tskisner I think it would help me understand the big picture if you can point me to one of the simplest pipelines where we will want to add PySM simulation capability.

[2017-12-04 16:42] zonca commented on #148
`DistRings` handles all of the metadata for a ring-based distribution, this is independent of channel and observation. I would instead keep the actual distributed map outside of this object in a separate `toast.Cache`, so we can just re-use one single `DistRings` object.

[2017-12-04 17:45] zonca commented on #116
followup in #152

[2017-12-04 17:45] #116 closed

[2017-12-05 16:27] zonca commented on #148
See the ground pipeline because it reads from an input map: https://github.com/hpc4cmb/toast/blob/master/pipelines/toast_ground_sim.py#L583

[2017-12-05 16:27] zonca commented on #148
For now we don't even need to shuffle the pixels to locally hit pixels and just do a AllReduce, then if we want to save memory we can do point-to-point.

[2017-12-05 16:52] tskisner commented on #148
To summarize offline discussion, I think the current plan is:

1. Inside the exec() method, loop over observations and find the superset of all detectors that will ever be used.
2.  Instantiate a distributed ring map.

Loop over detectors:
1.  Call pysm to do the band integration.
2.  "Beam setup":
    - if symmetric, smooth map with beam and do an AllReduce so every process has a copy of the full

[2017-12-06 12:59] zonca opened #153 "Debugging medium example possibly hanging on Edison"
Something on Edison changed, I cannot compile `toast` on Edison with the old `toast-deps`, a test recommended by @tskisner:

    module load toast-deps/20170707

See all modules:

[code]

Is it expected that I have cray, intel and gnu all loaded simultaneously?

On today's `toast` master:

    ./autogen.sh
    module load fftw # it looks like it needs fftw or MKL
    ./platforms/edison-gcc.sh --pr

[2017-12-06 13:07] zonca commented on #153
Instead with `toast-deps/20170809`:

[code]
No need to load `fftw` here:

[code]

It builds successfully, now rerunning the medium test to check if it still hangs after 30min.

[2017-12-06 13:21] zonca commented on #153
If I try to build with intel, with the latest `toast-deps`, there is a configuration problem, possibly due to the fact that `cc` is pointing to Cray's compiler:

[code]

[2017-12-06 14:02] zonca commented on #153
@tskisner @keskitalo is there any useful test I can run? Once this is fixed I can continue running the sims on PICO.

[2017-12-06 18:29] keskitalo commented on #153
Can you try running the medium satellite example again? I believe this was
a transient system issue.

-R

On Wed, Dec 6, 2017 at 6:02 AM, Andrea Zonca <notifications@github.com>
wrote:

[2017-12-06 18:41] keskitalo commented on #153
Hi Andrea,

The toast-deps module loads the intel programming environment and overloads
the compiler wrappers. You can check like this:

cc -v
icc version 18.0.0 (gcc version 6.3.0 compatibility)
...

I just configured and installed the toast master branch on Edison without
an issue. Here is my shell function for the environment on Edison:

  edideps () {
      export PS1="\e[0;35m[edideps]\e[m $(

[2017-12-06 19:05] zonca commented on #153
I'm using a much older `toast-deps`!
Docs say to use

    module use /global/common/${NERSC_HOST}/contrib/hpcosmo/modulefiles

see http://hpc4cmb.github.io/toast/nersc.html, but you are using

     module use /global/common/software/cmb/edison/modulefiles

[2017-12-06 19:07] zonca commented on #153
I'll switch to the newer module and run the test again

[2017-12-06 23:19] zonca commented on #153
Even using the newer module I had the same exact issue.

Instead, using the `toast` version compiled by @keskitalo , the medium example ran in 2 minutes.

Can we re-create Reijo's environment in a `toast` module so that people wanting to just use toast on Edison can use that?
Or/And, can Reijo or Ted write documentation on how to compile `toast` the way Reijo did it?

I'll try to run the PICO exam

[2017-12-06 23:27] tskisner commented on #153
This is strange- I have compiled toast against both the latest and the previous toast-deps versions multiple times today.  The documentation is not up to date...

[2017-12-06 23:29] tskisner commented on #153
@zonca , I see you are using the gcc config on edison- the toast-deps install is only compatible with the Intel compilers.

[2017-12-06 23:36] tskisner commented on #153
@keskitalo and I are iterating on this offline.

[2017-12-07 00:35] tskisner commented on #153
@zonca , we tracked this down to the Cray "altd" module.  Simply unloading that module lets the jobs start.  I have modified the installed toast-deps module file to explicitly unload altd.  So you should now be able to do:
[code]
(or similarly with the platform scripts for cori-haswell and cori-knl).  I'll open a pull request in a second that also updates the satellite example pipeline to flush st

[2017-12-07 00:54] #153 closed

[2017-12-08 17:34] tskisner opened #157 "High level toast functions"
Currently both the ground and satellite example scripts have duplicated functionality that is also needed in custom apps across all experiments.  Part of this is related to #97, which basically involves passing through the pointing once to compute the locally hit pixels and then using that everywhere that is needed.

The other piece is the construction and setup of operators for common operations

[2017-12-08 23:30] tskisner commented on #157
Another thought along these lines- as operators require more and more options, it might be better to move to a "pipeline config" file (yaml or json) that has subsections for configuring each operator.  There should be something more flexible than passing everything through argparse.

[2017-12-12 16:55] zonca opened #158 "Devel install"
Is it possible to install the Python part of `toast` in devel mode, as `pip install --editable .` so that it is not necessary to run `make` at each edit?

[2017-12-12 18:15] tskisner commented on #158
Since we are not using setuptools, there is no "python setup.py --develop" mode.  Also, currently we use the build system to generate some files in the python package (for example, to hardcode the final install path of the library in the ctypes dlopen call.  This prevents having ctypes scan the entire LD_LIBRARY_PATH and instead just open the exact version of the library that it is supposed to.

D

[2017-12-12 18:24] zonca commented on #158
ok thanks

[2017-12-12 18:24] #158 closed

[2017-12-12 20:42] tskisner opened #159 "Satellite precession axis in example script not slewing correctly"
In the satellite example script, we have switched to using independent observations, but forgot to apply the global sample offset when slewing the precession axis in the anti-sun direction.

[2017-12-18 22:43] zonca opened #167 "sample bandcenter, bandwidth and fwhm for mega-run"
@tskisner  when you generate the focalplane we need also to sample bandpass and beam from gaussian.

Here is how I set those parameters in `toast_fake_focalplane.py`:

https://github.com/zonca/toast/blob/c9644878b0b95bf295109f9da61d2b1ef116622c/pipelines/toast_fake_focalplane.py#L89

However here are all equal, do you already plan to write a dedicated script to generate the focalplane for the mega

[2017-12-18 23:44] keskitalo commented on #167
Hey @zonca. How do you plan on propagating the information from the focalplane into the PySM operator? As a separate container or are you perhaps inserting the information into the observation dictionary? I will need the bandpasses in the atmospheric operator so we better use the same numbers.

[2017-12-18 23:56] zonca commented on #167
I pass the focalplanes as input to the operator, then the operator looks into the focalplanes dictionaries for the bandpass information, see the link above for the parameter keys

[2017-12-19 00:01] keskitalo commented on #167
The ground simulation pipeline supports multiple telescopes and focalplanes. Making sure you apply the right focalplane to the right observations may get complicated. I think it would be best to link the focalplane to the observation:
[code]
I can quickly adjust the ground simulation script to do the linking when building the observations.

What do you think?

[2017-12-19 00:09] zonca commented on #167
that looks too nested and also a huge duplication of the data structure.
the only requirement now is that a detector name is unique. Is that a problem?

[2017-12-19 00:20] keskitalo commented on #167
We may not have control over the focal planes we are given. The name duplication is possible. I think an observation should be able to provide the focal plane when needed. It is only a reference, so the data itself are not duplicated unless the pipeline enforces it.

[2017-12-19 00:24] zonca commented on #167
can you modify this after I merge my branch?

[2017-12-19 00:34] keskitalo commented on #167
Sure!

[2017-12-19 05:11] tskisner commented on #167
Hi @zonca and @keskitalo, for the immediate case of the next 2 days, anything that works is fine.  I think that longer term we probably need some more formal definition in toast of what we mean by a "focalplane".   Currently, the TOD class is where the detector names and quaternion offsets "live", not in the observation dictionary.  This class is also where the data distribution along the time and

[2017-12-19 14:35] zonca commented on #167
@tskisner as per our discussion yesterday, you'll start implementing the script to generate the focalplane, then if you want I can help adding the bandpass and beam sampling.

[2017-12-19 14:37] zonca commented on #105
need also to revert my patch to `OpSimScan` at https://github.com/hpc4cmb/toast/pull/164/commits/5f15a6d1b292a200862ce11273ebced357c08fcb

[2017-12-19 14:37] zonca commented on #124
see #164

[2017-12-19 14:37] #124 closed

[2017-12-20 04:03] keskitalo commented on #147
Addressed in #150

[2017-12-20 04:03] #147 closed

[2017-12-20 04:06] keskitalo opened #169 "Python unit tests fail in the absence of libsharp"
Tests depending on libsharp should be conditional as it is not a hard requirement.

[2017-12-20 05:32] keskitalo commented on #169
Fixed in #171

[2017-12-20 05:32] #169 closed

[2017-12-22 11:28] zonca commented on #167
@keskitalo @tskisner is the script you used to generate the focalplane available on Github?

[2017-12-22 17:00] keskitalo commented on #167
It is not. @tskisner do you have a place in mind for little helper scripts that we'll have use for preparing for future runs?

[2018-01-03 01:27] jrmadsen opened #183 "Please read this important note about memory results in “timing_output_XXX.out”"
This will greatly clarify how these reports will help us fix our memory issues in large scale runs.

This is in the docs but is worth repeating here.

### These timing (+memory) reports allow one to **DEDUCE THE TEMPORARY MEMORY USAGE**. ###

Note: RSS stands for "resident set size". It is the amount of memory that currently resides in RAM (i.e. excludes swap)

- A total of 4 numbers of reported a

[2018-01-04 17:21] zonca commented on #183
thanks @jrmadsen where can I find the timing results of the mega run?

[2018-01-04 17:29] zonca commented on #167
@tskisner @keskitalo any update on this?

[2018-01-04 17:31] zonca commented on #148
implemented in #164, this issue can be closed

[2018-01-04 17:34] jdborrill commented on #183
There were none, since none of the runs completed.

On Thu, Jan 4, 2018 at 9:21 AM, Andrea Zonca <notifications@github.com>
wrote:

[2018-01-04 17:38] #148 closed

[2018-01-04 21:19] keskitalo commented on #167
Addressed in #171. We should open another issue about where to store the little helper scripts.

[2018-01-04 21:19] #167 closed

[2018-01-09 16:17] zonca commented on #183
I am interesting to see a run of PySM / libsharp with memory information and timing. @keskitalo do you think we can run an example representative of a real simulation? If you send me some suggestions I can take care of running it. In principle it would be nice to do this in the context of the PICO sims if #159 is fixed.

[2018-01-17 13:32] tskisner commented on #128
This was implemented back in 5e23ae20b9385d38dc54569d71d549dd231e0eb2 and improved by subsequent commits.

[2018-01-17 13:32] #128 closed

[2018-01-17 16:23] zonca commented on #183
@jrmadsen where do I find docs on how to configure timing?

[2018-01-17 16:24] zonca commented on #183
@jrmadsen nevermind, found it at the bottom of https://github.com/hpc4cmb/toast/blob/master/doc/timing.rst

[2018-01-17 16:50] zonca commented on #183
@jrmadsen I just ran `tiny-satellite` example on Edison,

I get this in the timing:

    |0> [pyc] |_rotate                              :  0.028 wall,  0.010 user +  0.000 system =  0.010 CPU [sec] ( 35.3%) :    RSS {tot,self}_{curr,peak} : (   0.0|   0.0) | (105608380.4|  98.4) [MB] (total # of laps: 4)

is it possible there is a unit conversion issue in the current memory?
I am currently testin

[2018-01-17 19:24] jrmadsen commented on #183
Yes, Linux likes to report in KB and macOS in MB and a recent update has a unit error I caught recently when re-packaging. I will commit the fixes. This has proved useful so I have repackaged this whole sub-suite into a stand-alone GitHub repo so that it can be used in other C++ and Python applications:

https://github.com/jrmadsen/TiMemory.git

It has an MIT license (very permissive) and includes

[2018-01-17 20:15] jrmadsen commented on #183
This issue has been fixed in the master branch.

—

Jonathan R. Madsen
Lawrence Berkeley National Laboratory
email: jrmadsen@lbl.gov
work: +1 (510) 486-7658

[2018-01-19 00:01] #159 closed

[2018-01-19 00:04] keskitalo commented on #127
@tskisner Neither noise or pointing have any significant part in the representative run profiles. Perhaps it is time to close this issue?

[2018-01-19 14:32] zonca commented on #183
ok, thanks, it works as expected now, I think we can close this issue

[2018-01-19 14:49] tskisner commented on #127
Sure, we can revisit later as needed.

[2018-01-19 14:49] #127 closed

[2018-01-19 15:15] zonca opened #199 "Expected memory usage in TOAST satellite sim"
In the PICO noise simulations, I am running with just 1 pixel and 1 MPI process per node and I can fit 3 days worth of data per node. I am using a configuration very similar to the tiny satellite example for everything else.
PICO is 1 KHz, so I expect 1 day of 1 pixel to occupy `1000*3600*24*8*2/1e9 = 1.4 GB`

so 3 days would be `4.2 GB`

I see madam allocating `6.1 GB` for TOD + `14 GB` pointing.

[2018-01-19 15:30] #183 closed

[2018-01-23 18:01] keskitalo opened #200 "Circular dependencies between toast.map and toast.tod"
We have a circular dependency:

We'll need to create a new package for the modules that require both `map` and `tod`.

[2018-01-25 13:55] zonca opened #202 "Replace args in pipeline script functions"
in the ground sim pipeline script, most functions get the `args` variable as input, this is convenient but it makes it difficult to understand what actually is needed by that function.

I can replace `args` with all the actual args properties. e.g.

    def simulate_sky_signal(args, comm, data, counter, schedules, subnpix, localsm):
        pysm_model=args.input_pysm_model
        nside=args.nside

[2018-01-25 17:31] keskitalo commented on #202
There is a reason why PyLint enforces a low limit on the number of arguments to functions. Long lists of positional parameters make it easy to confuse the arguments, especially with loosely typed languages like Python.

Picking the relevant parameters from `args` only works to a certain extent. @tskisner has floated around the idea of breaking down the parameters by operator. Is it time to pursue

[2018-01-25 17:33] zonca commented on #202
I would also consider never use positional arguments.

Il gio 25 gen 2018, 18:31 Reijo Keskitalo <notifications@github.com> ha
scritto:

[2018-01-25 17:50] tskisner commented on #202
We had previously talked about each operator constructor taking a dictionary of config parameters that could be read from a JSON / YAML file.  So for complicated pipelines you could just pass in one (or multiple) config files that specified the parameters for the different operators.

For example, if I wanted to have a pipeline that did a bunch of "standard" simulations and then applied my own cus

[2018-01-29 13:49] zonca commented on #202
@tskisner I think this would be a good solution.

A pipeline gets a JSON file as input, it reads and broadcasts it. Inside this JSON there is one nested dictionary for each Operator, like:

[code]

then in the pipeline we call the operator and pass this config dictionary:

[code]

@tskisner do you want me to work on a first draft of this so we can see how it looks like?

[2018-01-29 13:52] zonca commented on #199
@tskisner @keskitalo does this sound reasonable?

[2018-01-29 17:12] keskitalo commented on #199
@zonca while Madam reports TOD and pointing memory being allocated, the Toast OpMadam operator is set up so that the toast buffers containing the TOD, pixel numbers and pointing weights are deallocated when the data are moved into the Madam buffers (and then generated again when Madam finishes.

Your calculation above seems to indicate only two doubles per detector sample. Instead, there should be

[2018-01-30 14:51] tskisner commented on #202
That is fine with me, @keskitalo any thoughts / preferences on a design like this?

[2018-01-30 17:20] keskitalo commented on #202
Can we make it so that one can supply multiple JSON files and they are either concatenated by the pipeline or the pipeline will search through all of them when looking for the configuration for a specific pipeline module?

[2018-01-30 17:28] tskisner commented on #202
I think that is a good idea- we should have a helper function that all pipelines can use to read in a list of json files and update() a single dict with those results.  This way you can have a "canonical" parameter file for things like atmosphere sims, etc.  And we can put those files in version control.

[2018-01-31 17:47] #200 closed

[2018-02-02 13:55] zonca opened #207 "Units in pipelines arguments"
What about having units inside names of the arguments of the pipelines?
Like:

* `input_dipole_solar_speed_kms`
* `input_dipole_solar_gal_lat_deg`

It is more verbose but `.par` files would be self-explanatory

[2018-02-02 15:38] keskitalo commented on #207
I like it. Presently the units are documented in the help strings but those are not always easily accessible.

[2018-02-02 18:33] zonca opened #210 "Check relativistic add in dipole operator"
if I run solar-only I get a dipole of about +-3.2mK, orbital-only +-0.26mK, if I set total I get +-4.6mK, I expected some effect from relativistic addition, but this looks too much.

This issue is for tracking my investigation on this.

[2018-02-04 19:27] tskisner opened #211 "Unit test failures for >1 process"
Running the unit tests on a workstation with >1 process fails during the shmem tests.  This should be fixed.

[2018-02-05 18:40] zonca commented on #207
ok good, I used this for dipole and I plan on modifying other pipelines arguments when I happen to modify a pipeline

[2018-02-05 18:40] #207 closed

[2018-02-05 18:42] zonca commented on #199
ok, thanks, I'll experiment more with the next PICO runs to make sure I understand how RAM is being used.

[2018-02-06 14:35] zonca commented on #149
implemented in #152, this issue can be closed

[2018-02-06 16:54] zonca commented on #202
I am thinking about this, this post convinced me to avoid JSON (worst thing is not supporting comments) https://arp242.net/weblog/json_as_configuration_files-_please_dont, what about just using `.ini` files?

`ConfigParser` already supports multiple configuration files and the section `[DEFAULT]` can be used to give a set of defaults, but even better, if you read a list of `ini` files, the first c

[2018-02-06 19:33] keskitalo commented on #202
Seems flexible enough to me. @tskisner ?

[2018-02-06 20:25] keskitalo opened #214 "Running CMake requires access to NERSC"
CMake will fetch the example data by default and hangs if NERSC is unreachable.

[2018-02-06 20:56] jrmadsen commented on #214
- Added an option to disable generating the examples: `-DGENERATE_EXAMPLES={ON,OFF}`
- Added a timeout to cleanup (30 s), fetch_data (60 s), and generate_shell (30 s) scripts so cron jobs won't hang forever

[2018-02-06 20:56] #214 closed

[2018-02-07 17:32] tskisner commented on #202
I agree that comments are a great feature.  I am most familiar with config files done in YAML, which allow also storing type information (int/float/double) when serialized from python.  However, that is probably not so important for this case.  I had not considered the feature of keeping default values while updating selected ones.  Obviously yaml could do this too with a "default" sub-dictionary

[2018-02-07 18:08] zonca commented on #202
of course, I'll try to implement a mixed solution first where just a couple of operators use configfiles and the rest still the arguments, so I can get some early feedback.

[2018-02-08 14:43] zonca opened #215 "Implement more dict-like behavior for toast.Data"
What about making `toast.Data` more dictionary-like supporting key access and membership testing?

key access:
`tod.cache.reference["signal_ch_1A"]` -> `tod.cache["signal_ch_1A"]`

membership testing:
`if tod.cache.exists("signal_ch_1A"):` -> `if "signal_ch_1A" in tod.cache:`

If you agree I can implement it.

current code is in https://github.com/hpc4cmb/toast/blob/master/src/python/cache.py#L293

[2018-02-08 15:26] tskisner commented on #215
I think that sounds like a cool idea, but we should be careful of merge conflicts with @jrmadsen's work in PR #191.  @keskitalo , what do you think?

[2018-02-08 15:49] zonca commented on #215
I can implement it after #191 is merged

Il gio 8 feb 2018, 16:26 Theodore Kisner <notifications@github.com> ha
scritto:

[2018-02-08 15:51] keskitalo commented on #215
I think we'll want the user explicitly to state whether they want a reference or a copy of the cache object. That allows the cache to use the BurstBuffer or other disk backend. If the user makes a copy of a reference themself, then `Cache` is left thinking that the object is being modified in place.

The membership testing part looks nice.

[2018-02-08 15:56] zonca commented on #215
How do you make a copy?

[2018-02-08 15:58] keskitalo commented on #215
Jonathan is adding a `copy()` method in the PR.

On Thu, Feb 8, 2018 at 7:56 AM, Andrea Zonca <notifications@github.com>
wrote:

[2018-02-08 21:07] keskitalo opened #216 "Focal plane building fails in the examples"
This issue probably came about from merging the focal plane building methods into TOAST proper:

Running toast_fake_focalplane.py...
OpenMP number of threads: 48
using 61 pixels (122 detectors)
Traceback (most recent call last):
  File "/scratch3/scratchdirs/keskital/software-toastdeps/bin/toast_fake_focalplane.py", line 93, in <module>
    Adets = tt.hex_layout(npix, width, angwidth, fwhm, "fake_

[2018-02-08 21:09] #210 closed

[2018-02-08 22:18] tskisner commented on #216
Yes, I fixed that in a branch that may not get merged, will open a separate PR for this.

[2018-02-09 00:41] tskisner commented on #216
Although I fixed this, I note that the tools we have which are not really parallel (toast_fake_focalplane.py and toast_ground_schedule.py) die while dumping the timing profile.  However this only happens when doing "mpirun -n 1 <blah>" which is done in the example scripts.  Just running "blah" completes successfully.  I'm using mpich from the ubuntu packages.  In my changes in #217, I seemed to be

[2018-02-26 20:29] zonca opened #221 "Run tiny examples on travis"
@tskisner do you think it would be feasible to run the tiny examples on Travis and compare the results to a reference run?

If you agree this would be useful, I can start setting this up.

[2018-02-26 20:45] jrmadsen commented on #221
All of the shell and many of the SLURM examples are already part of the nightly CTest/CDash testing located at http://jonathan-madsen.info/cdash/public/index.php?project=TOAST <http://jonathan-madsen.info/cdash/public/index.php?project=TOAST> until NERSC has a system setup to host it.

A better alternative would be to configure TOAST with CMake and run: “ctest -DSTAGES=“Build;Test” -DTRIGGER=Test

[2018-02-26 20:59] zonca commented on #221
thanks @jrmadsen, it looks like they are all failing on master. does that system run also on branches? can we check if a branch works before we merge a pull request?

[2018-02-26 21:13] jrmadsen commented on #221
You can ignore those failing tests. This runs from my NERSC installation which currently has my ‘burst-buffer’ branch checked out. I set up a cron job that reinstalls the externals once a week and when Python was reinstalled, the externals didn’t also install TiMemory (which this branch uses) so all the Python tests failed because of this. I just noticed this today so the Nightly tests should be f

[2018-02-26 23:04] zonca opened #222 "Madam destriping issue on PySM sims"
I am experiencing an issue in the pico simulations.

The madam destriped maps don't have any signal, while the binned maps looks fine. For now I am running a test simulation with only PySM input sky and a tiny amount of noise.

@keskitalo can you please take a quick look to my configuration files and see if anything looks wrong? https://github.com/zonca/pico-simulations/pull/4/files

If they look

[2018-02-26 23:17] keskitalo commented on #222
@zonca That is unexpected... Do you bin the map with Madam as well? Can I see your logs?

[2018-02-26 23:52] zonca commented on #222
yes, with Madam, see `/global/cscratch1/sd/zonca/pico/cal_sims/60days_noiseless_skyonly`

[2018-02-27 00:15] keskitalo commented on #222
I see you are using the `allreduce` communication pattern.  Are you running against a version of `libmadam` that includes this bugfix: https://github.com/hpc4cmb/libmadam/commit/770f84d9e105caa738da0e715efc29a959f663af ?

[2018-02-27 08:02] zonca commented on #221
The example tests are long to run, I'd rather have them run automatically on Travis, especially if I am doing just small code changes. Can you please point me to the scripts you are using to launch the examples? I think it would be useful to adapt them to also run on Travis.

[2018-02-27 08:13] zonca commented on #222
thanks @keskitalo ! that was the issue

[2018-02-27 08:13] #222 closed

[2018-02-27 20:45] jrmadsen commented on #221
They have to be generated via: `cd examples; ./generate_shell.sh`

One can use the environment variables TYPES to control which ones are generated but by default it will generate all of them.

If you are configuring with CMake, the examples are automatically generated provided
`-DGENERATE_EXAMPLES=ON` (which is the default). From the build directory:

- run the shell examples only: `ctest -L shell

[2018-02-27 20:53] zonca commented on #221
Thanks, are you checking the outputs at all?

[2018-02-27 21:06] jrmadsen commented on #221
No, currently the pass/fail relies on the exit code. There is a way to add a regex to trigger failures so, theoretically, one could parse the stdout and ensure it matches a known stdout. When it comes to the output files, we could theoretically use an MD5 checksum. I have implemented numerical comparisons with tolerances before in another code but it essentially requires having to create a separat

[2018-02-27 21:08] tskisner commented on #221
@zonca, I believe that most of the time for travis to run is actually setting up toast and its dependencies.  There is one very long unit test (noise simulation) which is generating 100 MC's and looking at statistics.
 This could be shortened.  Actually running the "tiny" tests would in fact be a very small increment of time compared to setting up the environment and running the unit tests.

I act

[2018-03-04 15:15] zonca commented on #199
I am running a full focal plane sim for PICO band 9 with 684 detectors.
For my first test I am simulating 1 observation of 6 hours on 138 nodes, just noise. It fails with memory error.

That is 5 detectors each node, so about 126*3600*6*8*5/1e9 = 0.1 GB of signal TOD. Even with all the overhead I don't see how this cannot fit.

@tskisner @keskitalo what do you recommend I do?

[2018-03-04 15:18] zonca commented on #199
See log in ` /global/cscratch1/sd/zonca/pico/full_focal_plane_noise/log`

[2018-03-04 18:06] zonca opened #223 "Timestamp repeats across observation"
I have hit a small issue on timestamps simulating PICO timelines for calibration work with @ziotom78 , it looks like the last sample of one observation and the next sample of the next observation have the same timestamp.

Last 2 samples of the first observation are:

    86399.99206349,  86400.

The first 2 of the next:

     86400.        ,  86400.00793651

We have an interval of 0 between observ

[2018-03-04 18:18] zonca opened #224 "Pointing jump across observation"
In PICO simulations for calibration work with @ziotom78 I have hit a issue in pointing.

As we already discussed I have a version of `toast_satellite_sim.py` that dumps timelines to FITS (https://github.com/zonca/toast/pull/1/files).

I noticed that across observations there is a significant jump in pointing, see the following plot of 200 minutes of THETA across the observation boundary.

![theta]

[2018-03-04 19:23] zonca commented on #224
would it be helpful if I try to reproduce this in the tiny satellite example?

[2018-03-04 19:51] keskitalo commented on #199
I suggest you reduce the problem until it runs and examine the memory profile.

[2018-03-04 19:55] jdborrill commented on #199
The representative run still works, no? So we know it can be done.

J

[2018-03-04 20:07] zonca commented on #199
@jdborrill good idea, I'm running the representative run now

[2018-03-05 18:17] zonca opened #225 "Toast examples using shifter"
I built a docker image with toast (Edison-gcc), it was super easy with @tskisner 's scripts (only issue is Ubuntu 17.04 is not maintained anymore, so switched to 17.10).
It would be nice to add a couple example slurm scripts using shifter in the `examples/` folder I can use to run on NERSC.

[2018-03-06 13:37] zonca commented on #199
@jdborrill still working on getting the representative example to work on Edison. it is failing with memory error due to the dipole simulation. I resubmitted with no dipole and no PySM.

[2018-03-06 15:02] jdborrill commented on #199
Hi Andrea,

Weren't the PICO noise-only runs failing?

J

On Tue, Mar 6, 2018 at 1:37 PM, Andrea Zonca <notifications@github.com>
wrote:

[2018-03-06 15:17] zonca commented on #199
Yes, I was testing the representative example I'm the default configuration. Trying noise only now.

[2018-03-06 15:34] tskisner commented on #224
For this run, how long are the simulated gaps between science observations?  Zero?

[2018-03-06 15:40] tskisner commented on #223
No, that is not the expected behavior.  I starting place to look is in the helper function used to compute those time ranges:

https://github.com/hpc4cmb/toast/blob/master/pipelines/toast_satellite_sim.py#L327
https://github.com/hpc4cmb/toast/blob/master/src/python/tod/sim_interval.py#L15

This takes the requested time ranges and then creates actual time spans that are a whole number of samples.

[2018-03-06 15:46] zonca commented on #224
Yes zero

Il mar 6 mar 2018, 16:35 Theodore Kisner <notifications@github.com> ha
scritto:

[2018-03-06 15:51] tskisner commented on #225
If you have done a "shifterimg pull" to get the image to cori or edison (the machines have different registries), then you just have to add the correct "image" slurm option at the top of the slurm script and then do "srun shifter ...."

However, using shifter is a super-advanced topic (at least with a custom image), so I'm not sure how we want to handle that.  I agree we should document it somewhe

[2018-03-06 15:56] zonca commented on #225
ok, thanks @tskisner

@keskitalo can you please just dump an example slurm file from the megarun here for my usage? then we can close this issue

[2018-03-06 16:21] zonca commented on #199
representative example works on Edison:

* 24 hours observations
* 157 observations
* 217 detpix -> 434 detectors
* 40 Hz
* 314 nodes

Memory occupied by signal only:

* each observation for a single detector `40*3600*24*8/1e6 = 28 MB`
* each observation for all detectors `40*3600*24*8*2*217/1e9 = 12 GB`
* total `40*3600*24*8*2*217*157/1e9 = 1.9 TB`
* signal per node `40*3600*24*8*2*217*157/314/1e

[2018-03-06 16:31] zonca commented on #199
PICO band 9 is a factor of 5 larger per observation:

* 24 hours observations
* 684 detectors
* 126 Hz
* each observation for all detectors `126*3600*24*8*684/1e9 = 60 GB`

10 nodes per observation to keep `6 GB` per node.

Testing 30 observations on 300 nodes.

[2018-03-06 17:10] keskitalo commented on #225
Sure. Here you go:

#!/bin/bash -l
#SBATCH --reservation=mp107debug
#SBATCH --image=docker:tskisner/toast:2.2.5
#SBATCH --nodes=365
#SBATCH --account=mp107
#SBATCH --partition=regular
#SBATCH --constraint=knl
#SBATCH --core-spec=4
#SBATCH --time=08:00:00
#SBATCH --licenses=SCRATCH
#SBATCH --job-name=atmosphere_030_year1

ulimit -c unlimited

export OMP_NUM_THREADS=4
export OMP_PROC_BIND=true
expor

[2018-03-06 17:10] zonca commented on #223
ok, I reproduced it in the simplest possible case: https://gist.github.com/zonca/6ace24831ad6fd0fb742cb426880d85c

Next I'll work on fixing it.

[2018-03-06 17:12] zonca commented on #225
thanks!

[2018-03-06 17:12] #225 closed

[2018-03-07 00:13] zonca commented on #199
PICO went out of memory, resubmitted with only 15 observations.

@keskitalo I don't understand how should I choose `groupnodes`, I set it to 2, same as the representative example. Is it a good choice? could it have direct impact on memory usage?

[2018-03-07 00:23] keskitalo commented on #199
@zonca I'm not an expert on the satellite simulation pipeline. It has written by @tskisner.

[2018-03-07 14:25] zonca commented on #199
out of memory even with 15 observations, during pointing, inside `qarray`:

[code]

[2018-03-14 23:18] zonca commented on #199
@tskisner do you have any suggestion on how to debug this out-of-memory issue? PICO goes out of memory even with just 15 observations on 300 nodes. The representative example doesn't go out of memory with twice that amount of data.

[2018-03-14 23:50] keskitalo commented on #199
Have you looked at the memory profile of the representative run? Where is the memory used?

[2018-03-15 03:13] tskisner commented on #199
Hi @zonca, sorry, this thread did not show up on my notifications, even with the mention!  I have not tried to run any big pico sims.  Will try to at least reproduce the behavior you are seeing.

[2018-03-16 11:42] zonca commented on #199
@keskitalo on the representative run if I look at the peak memory of the process:
* max usage is 4.6GB
* OpPointingMatrix is at 3.9GB
* read_pntg@TODSatellite, ctoast_qarray_mult 3.7 GB
* highest usage is at exec@OpAccumDiag and also write_healpix_fits@DistPixels with 4.6 GB

if I look at peak memory of the function:

* OpPointingMatrix with 3.2GB
* 900 MB Opsimnoise
* 670 MB satellite_scanning

o

[2018-03-16 13:51] zonca commented on #224
@tskisner I think this happens also in the tiny satellite example.
I have reduced the `gap` from 4 hours to 0 and dumped the first and last quaternion for each of the 32 observations of the first channel:

https://gist.github.com/zonca/5d0b577e29301fcdeb47c3286a177aec

[2018-03-16 13:54] tskisner commented on #224
Ok, is this just the phase of the scan being reset each observation? (I
will check soon).  If that is happening I would not have noticed, since I
usually have a gap in time between observations.

On Fri, Mar 16, 2018, 6:51 AM Andrea Zonca <notifications@github.com> wrote:

[2018-03-16 17:47] keskitalo commented on #199
@zonca This is really useful. Can you tell if those numbers match your expectations about the memory requirements? If you have the memory profile for all processes, is there a lot of variability?

[2018-03-16 18:12] zonca commented on #199
@keskitalo yes, this is reasonable, I expect .75 GB just for the signal per rank, 4.6 GB is 6x, which is reasonable to have also pointing.
There is little variability in the peak total RAM used, from 4.4 GB to 4.65 GB.

I don't see anything suspicious in the representative run. the issue is PICO, I guess due to the number of detectors.

[2018-03-16 18:15] jdborrill commented on #199
PICO has significantly higher number of detectors, sampling rate, and
duration.

This is failing before you reach MADAM, correct? Reijo did fix a memory
issue there yesterday.

Julian

On Fri, Mar 16, 2018 at 11:12 AM, Andrea Zonca <notifications@github.com>
wrote:

[2018-03-16 18:36] zonca commented on #199
Yes, I'm scaling the number of observations accordingly, please crosscheck
above, maybe I messed up my calculations.

Correct, it fails at pointing.

[2018-03-20 17:53] zonca commented on #221
ok, I am testing running at NSIDE 64 so maps are tiny, hosting at http://portal.nersc.gov/project/cmb/toast_data/ a pair of maps is only 200Kb compressed.

[2018-03-20 22:40] zonca commented on #221
@tskisner ok I have the tiny example just for satellite now running on Travis, see https://github.com/hpc4cmb/toast/pull/228
I downsized the job quite a bit, nside 64, 1 hour observations, 8 nobs.
Do you think this is enough? or should I consider a larger test?

Once we decide the parameters I'll also run tests for the other pipelines.

[2018-03-21 05:22] tskisner commented on #221
Thanks for this work @zonca.  It will be nice to have a more complete test run as part of travis, rather than the very contrived unit tests we currently have in src/python/tests/ops_madam.py

[2018-03-21 10:43] zonca commented on #221
@keskitalo I am setting up automatic testing on Travis also for the ground examples, however they fail on my desktop, do I require external dependency to run the atmosphere simulations?

here the error message:

[code]

Full error message:
<details>

[code]

</details>

[2018-03-21 10:46] zonca commented on #221
I get the same kind of error on Travis, e.g. https://travis-ci.org/hpc4cmb/toast/jobs/356278651

[2018-03-21 14:44] keskitalo commented on #221
@zonca that is unexpected. The external dependencies (Elemental and aatm) should be there because the initialization seems to work. It seems like the actual simulation part causes C++ to throw an exception. Any chance you are simply running out of memory?

[2018-03-21 15:07] zonca commented on #221
I don't know, there is no error messages, but I don't think it is memory, `timemory` says 500MB and on my desktop I have 12GB. Anyway I can try make it smaller, how do I do that? I see you are setting `--start` but you are not setting `--stop`.

[2018-03-21 15:50] keskitalo commented on #221
Thanks @tskisner. The ground example runs fine on my laptop and CDASH: http://jonathan-madsen.info/cdash/public/testDetails.php?test=17836&build=1134.

[2018-03-21 15:57] zonca commented on #221
thanks @tskisner ,

@keskitalo what is the easiest way to disable atmosphere in the ground examples?

[2018-03-21 15:58] keskitalo commented on #221
--skip_atmosphere

On Wed, Mar 21, 2018 at 8:57 AM, Andrea Zonca <notifications@github.com>
wrote:

[2018-03-21 20:11] zonca commented on #221
thanks @keskitalo,

it runs without atmosphere but madam cannot resolve the pixels, sigma and weights are both `NaN` for all channels:

[code]

do you know what could be wrong?

[2018-03-21 21:08] keskitalo commented on #221
Do you have pyephem installed?

-R

On Wed, Mar 21, 2018 at 1:11 PM, Andrea Zonca <notifications@github.com>
wrote:

[2018-03-21 21:13] tskisner commented on #199
@zonca, for the satellite sim example, the ```--groupsize``` option controls how many processes are in a ```group```.  Each group is assigned some of the observations.  So if you are using 24 processes per node, and set groupsize to 96, then a single observation would be processed by 4 nodes.  If you don't specify this, then you get one big group the size of MPI_COMM_WORLD.

Let's say you are usin

[2018-03-21 21:20] zonca commented on #221
yes

[2018-03-21 22:06] zonca commented on #199
thanks, is there a place where we can copy your explanation into the docs?
I'll make some tests and report back here

[2018-03-22 01:50] keskitalo commented on #221
Is your branch in sync with master? There was an issue in optimized ground pointing simulation that I resolved last week.

-R

[2018-03-22 12:34] zonca commented on #221
yes, it is updated

[2018-03-22 13:14] zonca commented on #199
ok, I am testing with 1 group only and 1 observation, works with 10 nodes (uses 55GB of memory on each node), it fails with 8 nodes. I am testing now 30 observations on 300 nodes with each group spanning 10 nodes.

[2018-03-23 10:16] zonca commented on #199
yes! 30 observations on 300 nodes work, (I tested 39 observations and that goes out of memory). We want to make a 4 years simulation, I will test on Cori2 to check how many phi nodes we would need for that. I guess we will need a reservation, it will be a huge job. We can run production after #224 is fixed.

[2018-03-23 14:25] tskisner commented on #199
Ok, thanks for the testing!  Does the scan strategy repeat every year?  Just wondering if we can get way with doing a one-year sim and adjusting the detector NET accordingly...

[2018-03-23 14:36] jdborrill commented on #199
We should certainly think about it, though we might need 2 years to be able
to do year/year splits.

Something is horribly wrong with the memory use though - 30 days is about
10GB of data, and 300 nodes have about 30TB of memory. Do you have the
profile?

J

On Fri, Mar 23, 2018 at 7:25 AM, Theodore Kisner <notifications@github.com>
wrote:

[2018-03-23 14:51] zonca commented on #199
yes, see the timing file in `/global/cscratch1/sd/zonca/pico/full_focal_plane_noise/band_09` it uses 8GB per procs and there are 8 processes per node

[2018-03-23 15:05] jdborrill commented on #199
My bad - I miscounted the zeros in my spreadsheet and turned TB into GB! If
only it were that easy ...

So 30 days is 10TB of data and 30 nodes have 30TB of memory and there's a
high water mark somewhere in the pointing that can potentially add up to 8
more doubles per sample, which would increase the requirement to 25TB.

Sounds like we're exercising that "potentially"; do we need to be?

J

On F

[2018-03-23 15:46] tskisner commented on #199
Obviously the detector quaternions (8 doubles per sample) are generated as a temporary object:

https://github.com/hpc4cmb/toast/blob/master/src/python/tod/sim_tod.py#L339

... and passed back to the code computing the pixel indices and weights:

https://github.com/hpc4cmb/toast/blob/master/src/python/tod/pointing.py#L263

... and then the quaternions are del'ed:

https://github.com/hpc4cmb/toast/

[2018-03-27 17:55] zonca commented on #221
@keskitalo @tskisner what about just doing the satellite test for now? If you are ok with this I can update the pull request this way.

[2018-03-27 18:01] keskitalo commented on #221
I don't we should give up on the ground examples.

[2018-03-27 18:19] zonca commented on #221
ok @keskitalo, would you take a look at the logs and see if anything is suspect? https://travis-ci.org/hpc4cmb/toast/jobs/356852100

[2018-03-28 16:33] keskitalo commented on #221
On line 5749: "Cannot find libmadam" https://travis-ci.org/hpc4cmb/toast/jobs/356852100#L5749

[2018-04-09 13:48] tskisner opened #231 "Buffered time domain operationns"
There are many places in the code where we do vector operations using temporaries on very large vectors.  We would like to do these in a buffered way to reduce the size of the temporary arrays.  This will hopefully address #199.

Although this is fairly straightforward, one challenge is that we now use the TOD.local_* methods everywhere.  These were implemented to reduce boilerplate code in the ca

[2018-04-09 16:04] zonca commented on #231
I think this is a big endeavour that would complicate a lot the codebase. I believe it would be useful to first identify at which step the memory bottleneck is debugging the code line by line and then really prove that this solution will improve the situation.

I am worried after all of this work we will still have memory issues or find that improvements are too small.

[2018-04-09 16:14] tskisner commented on #231
Ok.  The easiest hack for testing purposes would be to temporarily convert the healpix pointing matrix generation back to using the read_* methods with no caching of timestamps, flags, and quaternions.  Then I can use the sample ranges in those functions to implement the buffering and see if it helps.

I'll leave this issue open though, since I find it confusing to have 2 sets of methods in the TO

[2018-04-09 16:16] keskitalo commented on #231
Or we could add the ranges to the local_* methods. In this case the logic should be:
* if the object is cached, return the requested range
* if the object is not cached, read and return only the specified range, do not cache anything.

[2018-04-11 10:11] zonca commented on #199
As discussed yesterday, I tested the same run of 30 days on 300 nodes (which was working fine with 24-hours observations), now with 30*24 one-hour observations. It goes out of memory.

I was using a groupsize of 10 before, I reduced it to 1 as now my observations are 1/24th, @tskisner is this ok?

[code]

here the log:

[code]

[2018-04-11 19:40] zonca commented on #221
ok, thanks @keskitalo ,  I can finally reproduce on Travis the issue I had locally, where it appears to run fine but Madam gets all NaN, see:

https://travis-ci.org/hpc4cmb/toast/jobs/365223283#L6476

[2018-04-11 19:51] #223 closed

[2018-04-11 20:09] keskitalo commented on #221
Looks like the noise weights in libmadam are NaN. Perhaps an issue with the simulated focal plane?

Why is majority of the log messages about downloading the data from the NERSC gateway?

[2018-04-11 20:16] tskisner commented on #221
We could pipe that output to a log (or /dev/null), at least for the travis tests

[2018-04-11 20:38] zonca commented on #221
@keskitalo I'll look into the weights,
could it be a problem to download data from NERSC gateway at each Travis test? should I host them on Github instead?

[2018-04-11 20:39] zonca commented on #221
@tskisner sure I can pipe to /dev/null

[2018-04-11 23:26] zonca commented on #221
@keskitalo the focalplane looks fine:

[code]

[2018-04-12 16:03] #224 closed

[2018-04-17 17:46] zonca commented on #221
@keskitalo the focalplane looks fine, see above, if you have any other hint otherwise I'll print timelines across the script to find where NaNs first appear.

[2018-04-17 17:59] keskitalo commented on #221
The timelines are most likely fine. The issue seems to be that Madam is being given NaNs as noise weights.

[2018-04-19 15:10] zonca commented on #221
@keskitalo I printed `detweights` just before OpMadam, they are all 13888888.8888

[2018-04-19 15:33] keskitalo commented on #221
@zonca it appears that Madam is being told to measure the noise weights from the noise PSDs:

[code]

In the `radiometers = T` mode that means that Madam just gets the last bin of the noise PSD and uses it for the white noise level. Can you check if the noise PSDs are sensible?

[2018-04-19 21:09] zonca commented on #221
@keskitalo do you mean saving some noise timelines and taking a PSD?

[2018-04-19 21:15] keskitalo commented on #221
@zonca no. I mean looking at the PSD vectors that are being passed to Madam in OpMadam.

[2018-04-19 21:30] zonca commented on #221
here is `psdfreqs` and `psdinfo`, in `psdinfo` there is an array of zeros but I don't know its meaning:

[code]

[code]

[2018-04-19 21:49] keskitalo commented on #221
That last entry in `psdinfo` is a concatenated vector of the noise PSD values. For some reason the  PSDs are zero. The PSDs are extracted from the observation in https://github.com/hpc4cmb/toast/blob/master/src/python/map/madam.py#L468-L481

Either they are already zero or the `noise_scale` is zero.

[2018-04-19 22:04] zonca commented on #221
`noise_scale` is zero.
I see the bug, `update_atmospheric_noise_weights` is not checking `args.skip_atmosphere` but only `args.weather`, so `noise_scale` instead of being set to 1 is set to zero, 45d1bc5 should fix it. Testing it.

[2018-04-23 16:23] tskisner opened #235 "Data export / load improvements"
When exporting to a TIDAS volume, there are several limitations that need to be removed:

1.  List of cache object root names should be provided, with each set of cached timestreams going to a separate TIDAS group.

2.  We can and should support exporting the results of calling TOD derived class methods that return timestreams.  For example, housekeeping data, raw Az/El pointing, etc.

3.  Support

[2018-04-24 16:34] tskisner commented on #199
@zonca, I think this is a summary of your old and new data distributions:

Original:
- 30 observations (30 days)
- 300 nodes = 30 groups of 10 nodes (80 procs) each
- Observations assigned to each group = 30 obs / 30 groups = 1 x 24 hours
- Approximate data per process = 24 hours / 80 procs = 0.3 hours

New:
- 720 observations (30 days * 24 hours)
- 300 nodes = 300 groups of 1 node (8 procs) each

[2018-04-24 17:11] jdborrill commented on #199
The memory reporting from Andrea's failed job also showed no problem in the
boresight pointing generation (where the previous runs had shown the huge
excess) but failed instead in MADAM. Furthermore immediately before the OOM
failure the reported memory seemed entirely reasonable and well within the
node's capabilities.

Julian

On Tue, Apr 24, 2018 at 9:34 AM, Theodore Kisner <notifications@githu

[2018-04-24 17:16] tskisner commented on #199
@zonca, it looks like I spoke too soon :-)  I had spot checked some ranges of buffer sizes, but then also let the script above run from the beginning for several hours.  On cori-haswell, running 8 processes per node, When allocating 2048 buffers of 19.5MB each, it was still behaving the same as the 1 x 40GB case.  When moving to 4096 buffers of ~9.7MB each, each python process retained its large m

[2018-04-25 03:50] tskisner commented on #199
![](https://github.trello.services/images/mini-trello-icon.png) [TOAST Memory Use](https://trello.com/c/8nHyfMcY/1-toast-memory-use)

[2018-04-25 15:26] zonca commented on #199
I've dug a bit more into this memory issue. What I see is that after 8192 tiny arrays, only about half memory is freed up, the rest remains allocated into the process.
However at the next iteration inside that process, we allocate another 40GB of tiny arrays, **but the memory usage never goes up to 40+20=60GB, but just goes back up to 40GB**.
So my guess is that this should not cause a node to go

[2018-04-25 15:30] jdborrill commented on #199
Hi Andrea,

I thought the issue was that while that memory may still be available in
the python pool for re-use by python allocations, it is unavailable for any
non-python allocations (eg. in libMADAM).

Julian

On Wed, Apr 25, 2018 at 8:26 AM, Andrea Zonca <notifications@github.com>
wrote:

[2018-04-25 15:57] zonca commented on #199
@jdborrill I haven't read anything specific about this case. With the information I have now, I would guess that if it is the OS handling this, as long as it is the same process it shouldn't matter if it is Python or an extension. Also `numpy` is a compiled extension making allocations not through the Python system but directly in C.
Anyway I will make a test.

[2018-05-01 07:32] tskisner commented on #199
I've conducted a small test on edison using 2 observations of 24 hours length and 74 detectors at 40Hz sampling.  First, I note that the default in the example satellite pipeline is to cache detector quaternions, which I believe we should never do, since they are fast to regenerate from the boresight pointing.

I further did some work in a branch to buffer several parts of the code that works with

[2018-05-01 11:48] jdborrill commented on #199
Hmm ... seems like a pretty marginal gain, much smaller than the difference
between expected and actual in either mode.

Julian

On Tue, May 1, 2018 at 12:32 AM, Theodore Kisner <notifications@github.com>
wrote:

[2018-05-01 14:45] tskisner commented on #199
This is only a marginal gain in this tiny example.  In the case of a high sample rate, long observations, and few detectors per process (so the boresight is replicated more times) I think this will be larger.  I will make more tests on this today.

[2018-05-01 20:31] tskisner commented on #199
I reconfirmed these results (similar memory use between branches **with dipole keep_quats=False** in master branch) with a pico band at 126Hz.  I'm moving up to a band with more detectors and higher sample rate.  It may be that this entire issue was just accidental caching of the detector quaternions, which we should not do (it is fast to recompute).

[2018-05-01 21:42] tskisner commented on #199
Using one 24 hour observation of band 19 (254 detectors, 850Hz sampling), the memory use is largely consistent between master and the buffer branch.  Conclusions:

- The memory use after boresight calculation was double in the master branch (1.5GB vs 0.7GB) but this is a small number overall.

- Detector pointing matrix calculation was 18 seconds in the branch vs 27 seconds in master.

- Besides t

[2018-05-02 06:57] tskisner commented on #199
I have now successfully run this set of detectors (PICO band 19, 254 detectors at 850Hz) with 24 hour observations, simulating sky with PySM, adding dipole and noise and making a map with madam.  I ran 30 days on 30 nodes on both edison and cori-knl.

This was run using the branch in #236.  Attached here are the slurm script and parameter files for the cori run:
[pico_cori.slurm.txt](https://githu

[2018-05-02 14:08] zonca commented on #199
yes! it ran to completion, using a max of 7.7GB ram per MPI process

[2018-05-03 20:51] #149 closed

[2018-05-05 11:14] ziotom78 opened #239 "Parameter --input_map is never used"
The parameter `--input_map` is accepted by `pipelines/toast_satellite_sim.py`, yet it is never used.

See the implementation: https://github.com/hpc4cmb/toast/blob/master/pipelines/toast_satellite_sim.py#L221

[2018-05-05 12:47] zonca commented on #239
It was me that started implement this feature that is already available in the ground pipeline, but then decided to wait until this was necessary.
Do you plan to use this?

[2018-05-05 13:13] ziotom78 commented on #239
Well, for CMB-only simulations it would be nice to ask TOAST to use a pre-computed FITS map produced using well-controlled cosmological parameters, instead of relying on the "c1" model provided by PySM.

[2018-05-05 13:52] ziotom78 commented on #239
Oh, I see. I tried to use `--input_pysm_precumputed_cmb_K_CMB`, but TOAST crashed because it did not find any signal, as I did not include `--input_pysm_model c1`. Good to know, thanks!

[2018-05-17 15:02] ziotom78 opened #242 "OpSimPySM does not convert coordinates properly for Q/U components"
As it is written now, `OpSimPySM.exec` converts PySM maps from Galactic to XXX coordinates using a rotator and a call to `healpy.get_interp_val` (line [193](https://github.com/hpc4cmb/toast/blob/master/src/python/todmap/pysm_operator.py#L195)). However, it does not recalculate the value of Q and U in the new coordinate system, using a call to `healpy.rotator.Rotator.angle_ref`.

I am not fully sur

[2018-05-21 07:42] zonca commented on #242
thanks @ziotom78, do you have a test case at hand that we can use to check if the implementation is correct?
Otherwise I'll build one from one of the `healpy` test cases.

[2018-05-21 07:46] zonca commented on #242
also we can check the IDL implementation in HEALPix https://github.com/healpy/healpixmirror/blob/master/src/idl/misc/rotate_coord.pro

[2018-05-21 09:05] ziotom78 commented on #242
Sorry, I have no test cases at hand. I realized this last Friday while discussing with a student of mine at the blackboard.

[2018-05-28 20:44] zonca commented on #242
thanks, it was missing a factor of 2:

    L_map = (q_map + u_map * 1j) * numpy.exp(1j * 2 * rot.angle_ref(theta_gal, phi_gal))

I ran IDL and compared this to `rotate_coord.pro`, it gets the same results within 1e-4.

I wrote the implementation for `healpy` in https://github.com/healpy/healpy/pull/447

[2018-06-07 02:09] chinoney opened #243 "error on test"
I got the following error when I ran "echo "import toast.tests; toast.tests.run();" | OMP_NUM_THREADS=2 python3" at tostada1.
[code]
I compiled the latest toast (e2de84716d84162295f5fea0000b9c9ec0172832) recently and tried to run. I haven't seen these errors before, e.g. around 2018-04-02 (6103c29c1d951af9b8cd1d27f3f5ec0d058dfedf).

[2018-06-07 02:36] keskitalo commented on #243
@chinoney that is an incompatibility between `healpy` and `astropy.io.fits`. Are both updated to the latest versions?

[2018-06-08 19:26] chinoney commented on #243
@keskitalo I used a script @tskisner provided in the repository (https://github.com/hpc4cmb/toast/blob/master/external/static/install_ubuntu_16.04.sh) to setup the environment @ tostada1. Probably the script need to be modified accordingly?

[2018-06-08 19:42] keskitalo commented on #243
@chinoney Can you run this command on your system: `python3 -c 'import healpy; import astropy; print(healpy.__version__, astropy.__version__)'` and post the result?

[2018-06-08 20:17] chinoney commented on #243
[code]
It seems healpy which is installed by the script is NOT loaded correctly even I set

[code]
Then I realized the installation w/ the script seems failed. I'll check that, but I'm not sure why failed. It sometimes fails to me.

[2018-06-08 20:22] chinoney commented on #243
If healpy was installed successfully, it's "1.11.0"

[2018-06-08 21:08] tskisner commented on #243
I can go re-check the dependency installation script in a 16.04 docker image (or on tostada) if that is helpful...

[2018-06-08 22:57] chinoney commented on #243
Yes, this has solved the problem. I understand I should check whether the necessary installation by the script has succeeded or not.

[2018-06-08 22:57] #243 closed

[2018-06-12 13:26] zonca opened #244 "Investigate why pipelines tests are failing on Travis"
Since commit d1670917bf981e31f775ff8355a94ed965424595 all integration tests are failing,
it is probably unrelated, to prove it I restarted the Travis build for the commit just before that originally passed the test.

Commit is: 8adab8363f223d9126fda23e37d5e0f2c38f12d7

Travis build is:
https://travis-ci.org/hpc4cmb/toast/builds/375097960?utm_source=github_status&utm_medium=notification

[2018-06-12 14:03] zonca commented on #244
ahm, no, this one passes again, so it must have been something in that Pull Request.

[2018-06-12 14:42] zonca commented on #244
it looks like that PR changed the output maps, closing this, will continue discussion to debug the specific issue on the PR itself: https://github.com/hpc4cmb/toast/pull/240

[2018-06-12 14:42] #244 closed

[2018-06-12 17:16] zonca commented on #242
implementing a fix in #246

as expected, in the test, the total Polarization amplitude is unchanged, but Q and U are rotated.

![q_diff](https://user-images.githubusercontent.com/383090/41306011-0c3312b8-6e75-11e8-8baa-628fecf4bc99.png)
![total_p_diff](https://user-images.githubusercontent.com/383090/41306012-0c66cf36-6e75-11e8-97df-8fb63e756fa5.png)

[2018-06-12 19:37] keskitalo opened #247 "examples/run_tiny_tests.sh is not compatible with OSX sed command"
There are slight differences between GNU `sed` and a BSD version of the same tool that ships with OSX. Presently `examples/run_tiny_tests.sh` requires a GNU version of the tool to be available.

[2018-06-12 20:42] #247 closed

[2018-06-29 15:19] tskisner commented on #211
Digging deeper on this, our MPI unit test running is not ideal in several ways.  The desired behavior is:

- All processes run each test concurrently (with a barrier in between)

- Only the root process should print informational unit test things (the things that are normally printed by TextTestRunner).

- Processes can write independently to stdout / stderr inside a test (useful for debugging).

[2018-07-09 16:39] zonca opened #252 "General focal plane configuration"
@tskisner Shaul at the telecon was asking if there is a way to generate a focal plane from a table of detectors position and orientation.
Last he asked @jdborrill, it was not possible in TOAST.

Here is a plot of the actual focalplane they would like to generate:

![screenshot 2018-07-09 at 18 20 06](https://user-images.githubusercontent.com/383090/42463659-0dafefe8-83a7-11e8-9f47-4b875dab0502.png

[2018-07-09 16:42] jdborrill commented on #252
I think we need to understand the driver for this.

If we can't simulate a year of data from the full focal plane, then this
level of detail is redundant. Even if we can, I want to know why PICO needs
this now (since this surely won't be the actual focal plane).

Julian

On Mon, Jul 9, 2018 at 9:39 AM, Andrea Zonca <notifications@github.com>
wrote:

[2018-07-09 16:50] tskisner commented on #252
We have functions to layout hex-packed detectors with a given plate scale and center offset quaternion.  We have similar functions for hexagons constructed from 3 rhombi.  The experiment-specific toast git repos have utility functions that piece these together to generate actual focalplanes.

There is no such thing as a "generic focalplane".  Creating them requires knowledge about the detector typ

[2018-07-09 21:01] hanany commented on #252
Hi Ted, given the focal plane you see in the image, what is the best way for you to implement it? As you can see, the inner wafers are hexagons, and the 3-color multi-chroic pixels (MCP) in them are laid out on a hexagon pattern. The outer 'ring' are not pure hexagons, but the MCP layout is ... well, you see what it is.

Of course, we can provide coordinate for all the pixels.

[2018-07-09 21:41] tskisner commented on #252
Well, I think the main question comes back to the issue raised by @jdborrill.  At this stage in the project, the big questions being addressed by time domain simulations are things like:

1. Impact of scan strategy choices on coverage, pixel condition number, leakage, etc.

2. Impact of relative detector counts at the different frequencies and where pixels of different types are placed in the fiel

[2018-07-09 22:00] tskisner commented on #252
Just a reminder of what the current generated focalplane looks like in toast-pico.
![pico_hardware_lowres](https://user-images.githubusercontent.com/84221/42478182-9d2bbedc-8388-11e8-8059-dddaaad69d8e.png)

[2018-07-09 22:20] hanany commented on #252
The focal plane we now have is obviously quite different compared to what Julian put in some months ago (just look at the two versions...). Already then we knew it was, and would continue to be, different, but we agreed we needed something quickly to 'clean the pipes' and just get something running. We agreed that once the pipes are cleaned, we would look back at the issue of implementing the righ

[2018-07-10 22:05] zonca opened #253 "Failure on Cori with runtime_error with conviqt"
I ran a small test simulation with conviqt 2 weeks ago and it was working fine.
Now I am resubmitting the same job with the same version of toast (the branch in #241) and I get a failure.

The main issue is that the error message is very generic.

[code]

The full log is at `/global/cscratch1/sd/zonca/pico/conviqt_sim/201806_boresight_1pix_conviqt_realbeams_10h/log`

my config files at `/global/cs

[2018-07-14 14:57] keskitalo commented on #253
That exception is being thrown from compiled code so probably `libconviqt`. If it does not go away by recompiling libconviqt, you should run it in the verbose mode to see where the problem is coming from.

[2018-07-14 16:03] tskisner commented on #253
Once #251 is merged, we'll be able to support conviqt unit tests :-)  Cori was just upgraded to a newer version of userspace tools (CDT = Cray Development Toolkit).  So the default module versions have changed.  I don't think that should impact us, but I'll install a new toast-deps version once I get the travis tests working for #251 (almost there).

[2018-07-14 21:53] zonca commented on #253
@tskisner Please let me know when you compile convict again, I'll Try To Run it

[2018-07-19 22:49] tskisner commented on #211
Closed by #251

[2018-07-19 22:49] #211 closed

[2018-07-30 22:25] zonca opened #254 "Ring distribution error"
I am getting this error:

[code]

In my understanding this happens if a MPI process has no rings, which I guess is due to the fact that it has no observations.

However I don't see how this can happen, I have:

* 100 nodes with 16 processes per node, so 1600 processes
* I need to use `groupsize=1` because I need to save each observation in a different file for calibration work with DaCapo
* I redu

[2018-07-30 22:26] zonca commented on #254
configuration files are at: https://github.com/zonca/pico-simulations/pull/23/files

[2018-07-30 22:27] tskisner commented on #254
Ok, will try to reproduce / investigate soon

[2018-08-12 19:32] zonca commented on #253
@tskisner I finally tried to rerun my `conviqt` example again using the new `toast-deps/20180716` module.

I am still getting the same `runtime_error`, full log in:

    /global/cscratch1/sd/zonca/pico/conviqt_sim/201806_boresight_1pix_conviqt_realbeams_10h

I am not compiling `libconviqt` myself but relying on `toast-deps`.

The files for my small test run are in https://github.com/zonca/pico-sim

[2018-08-28 18:14] zonca commented on #253
this is fixed recompiling everything

[2018-08-28 18:14] #253 closed

[2018-09-10 00:17] #242 closed, assigned to nobody

[2018-09-11 17:01] tskisner commented on #7
This is no longer an issue in practice.  Closing now, and we can open new issues to address specific types of hybrid noise sims in the future.

[2018-09-11 17:01] #7 closed

[2018-09-11 17:04] tskisner commented on #5
This issue is very old, and has not been very relevant in practice.  In the future we may want this feature but closing for now.

[2018-09-11 17:04] #5 closed

[2018-09-11 19:20] zonca opened #255 "update the published toast documentation"
the documentation at http://hpc4cmb.github.io/toast/ is quite old, would it be possible to update it?
For example it still has `%> python -c "import toast; toast.test()"` for running tests.

[2018-09-12 00:37] tskisner opened #256 "Simplify build system"
Currently we have about 4600 lines of autotools files (configure.ac, m4 checks, all Makefile.am's) and about 8000 lines of cmake files (excluding test / cdash stuff) checked in to our repo.  We have consensus about moving towards a cmake + pybind11 build system, and the goals of this issue are:

- [x] Change the cmake build files to assume a modern version of cmake and make use of built-in checks

[2018-09-12 00:42] tskisner opened #257 "Make TOAST pip-installable"
Assuming all **required** dependencies are installed add a setup.py which runs cmake to install TOAST.  There are several examples of this sort of pattern.  This is useful on its own and as a first step towards building a conda package.

[2018-09-12 00:48] tskisner opened #258 "Native map-maker design"
This issue is to track the design of the TOAST mapmaker, which exists as notes in various places.
 The requirements are:

- Support for Madam-style baselines and noise filter (which in the limiting case of baseline == one sample, is equivalent to traditional GLS map making)

- Support for NPIPE-style (toast-planck) gain and other templates that may span multiple observations

- Modular design that

[2018-09-12 00:53] tskisner opened #259 "Pure python map-making implementation"
After issue #258, this issue tracks a python implementation of the map-making tools.  Obviously this is a starting point, pulling algorithm knowledge from Madam and toast-planck (NPIPE) tools.  Implemented in Python for ease of development and as a starting point for optimization.

[2018-09-12 13:45] tskisner opened #260 "Operator Interface Changes"
Currently all operators are instantiated manually in the main() script and data is passed between them through the use of named cache objects.  The operator class should be expanded to provide:

- Methods / attributes that describe needed data distribution and data parallelism

- Ability to process subsets of detectors

- Easy construction from a dictionary of parameters (possibly loaded from a fi

[2018-09-12 13:47] tskisner commented on #157
Revisiting this issue as part of a larger refactor coming up.  All of these points are still valid.  The current idea is to have a toast.pipeline submodule which will have functions for easily instantiating operators from configuration files and for running a sequence of operators with minimal internal knowledge.  See issue #260.  This submodule should also have functions to assist in determining

[2018-09-12 14:04] tskisner commented on #15
This feature should be revisited as part of map making design in #258.  Also note that for multiplication by a sparse Toeplitz matrix in the Fourier domain, we have longstanding examples of using the batch FFT interface to FFTW / MKL to do all the overlapping chunks in parallel (the batch interface is threaded for 1D transforms):

https://github.com/hpc4cmb/MOAT/blob/master/src/libmoat/frameworks/

[2018-09-12 14:08] tskisner commented on #18
I think we can close this.  There are many examples of solvers in python and in our own code from the last 15 years.  This is something @keskitalo can revisit as part of #258.

[2018-09-12 14:08] #18 closed

[2018-09-12 14:15] tskisner commented on #202
This issue is related to #157 and #260.  Basically there will be a toast.pipeline submodule of high-level functions, and one of those should be "instantiate an operator with a dictionary (which could be read from a file)".  This would work as long as all operators took only kwargs and no positional args in their constructors (so that one could pass in a dictionary).

[2018-09-12 16:35] tskisner opened #261 "Implement global package control"
Extract just the package control piece of #217 and merge that as a first step towards a global cleanup of profiling.

[2018-09-12 16:42] tskisner opened #262 "Simple, generic focalplane configuration"
Based on internal discussions and across several projects, it is clear that having a simple format for fully specifying a complicated focalplane is needed.  Primarily this is for simulations of experiments which do not yet exist and hence do not have clearly defined data formats and TOAST interface classes.

A simple text format exists in the toast-so package and I propose generalizing that a tiny

[2018-10-04 23:51] zonca opened #263 "travis integration tests disabled"
@tskisner I see running the integration tests on Travis is disabled:

https://github.com/hpc4cmb/toast/blob/3d6814267f5f0314760e2cf9196a8897b1ae9dae/travis/travis_run.sh#L36

is it intentional? any reason for this?

[2018-10-16 18:35] tskisner opened #264 "Run operators on multiple MC realizations at once"
This is requires completion of #260.  Given a subset of detectors with pointing expanded, it may be useful to process multiple Monte Carlo realizations of the timestream in one shot, to allow for re-use of filter kernels, etc.  Opening this issue so that we can try and define what additional changes would be needed to support this use case.

At minimum, there should be consistent options across al

[2018-10-21 14:14] tskisner opened #265 "Separate Serial and MPI pieces of TOAST"
TOAST contains both serial/threaded and MPI pieces of code, in both the compiled library and in the python layer.  There are situations at the moment where building a self-consistent MPI on some machines is painful.  There are also situations where MPI is forbidden to run (Cray login nodes).  In environments like this, it would still be useful to run serial "helper" utilities for things like post-

[2018-10-23 18:43] tskisner opened #266 "Speed up spt3g loading"
Even after #249 is closed, the performance of loading spt3g frames into cache is very slow (writing speed is tolerable for now).  Currently the code does something like:
[code]
We could try working with multiple frames at once (similar to how the Gatherv is done on export to spt3g), and for that group of frame we could try A) broadcasting the serialized stream of multiple frames to each process fo

[2018-10-24 21:45] tskisner commented on #235
Closed by #249, but additional work is needed and will be tracked by new issues.

[2018-10-24 21:45] #235 closed

[2018-10-24 23:29] tskisner opened #267 "Travis tests skipping libmadam"
Debug why libmadam inside travis dependency tarballs is failing to dlopen.

[2018-10-25 16:41] tskisner opened #268 "Add noise classes for SPT3G and TIDAS"
Currently there are no toast noise classes that read / write from / to the 2 data formats that are built in.  This means that we have no way of loading in the noise weights that should be used for map-making.  We should write this to a separate frame file (for spt3g) and separate group (for tidas), so that we can easily generate that during a noise estimation step without modifying the timestream

[2019-03-14 14:00] tskisner opened #271 "Generalize mixing of streams"
The correlated noise simulation currently uses a dictionary of coefficients to mix independent streams to form noise streams for individual detectors.  This kind of mixing is more generally useful and should exist in a stand-alone operator.  This should be done after the large refactor in 2.3 is done.

[2019-04-16 04:05] zonca opened #274 "Build error on Cori, undefined reference to atmosphere functions"
I'm building TOAST from the master branch on Cori using `toast-deps/20181128-intel`, I get this compilation error:

[code]

[2019-04-16 15:47] zonca commented on #274
It was due to having the `aatm` library installed but not having `SuiteSparse`.
Without `SuiteSparse` it is impossible to run atmosphere simulations anyway, so better disable also `aatm` with:

    ./configure --with-aatm=no

with this TOAST compiles successfully.

[2019-04-16 15:47] #274 closed

[2019-06-19 10:48] zonca opened #275 "Build TOAST 2.3 at NERSC"
I have an issue with CMAKE,

I am trying to build `toast` using the SO environment:

[code]

Then I run `cmake` with:

[code]

But I get this error:

[code]

[2019-06-19 10:50] zonca commented on #275
Noticed it actually was only a warning, I got the Makefile, I'll try to go ahead with compilation and report back

[2019-06-19 10:52] zonca commented on #275
It looks like it works fine!

[2019-06-19 10:52] #275 closed

[2019-06-19 15:46] tskisner commented on #275
@zonca, that warning seems to indicate that the conda lib directory might be in LD_LIBRARY_PATH.  If it is, then all kinds of problems could happen.  Rather than manually setting paths, you can just do:
[code]
However, since this branch does not even have all the sources ported, I had not yet been testing at NERSC.  Thanks for testing the compilation :-)

[2019-06-20 19:27] zonca opened #276 "Simplify python development"
There are 2 features used a lot by Python developers that I don't know if we can achieve with the TOAST build system:

* equivalent of `python setup.py develop`, we have a `setup.py` but in my understanding it disables MPI. Do you recommend to use this anyway and then test with MPI later?
* Fallback to debugger in failing tests: running `py.test --pdb`, you get a debugger into the failing unit tes

[2019-06-20 19:52] zonca commented on #276
I tried `python setup.py develop` but fails with:

[code]

[2019-06-20 22:21] tskisner commented on #276
The official toast build system is the cmake one.  The current setup.py file simply runs the cmake build system.  It is useful for installing a bare-bones toast without MPI.  Here are some notes:

-  The reason MPI is disabled when using setup.py is that the user community has demonstrated that most people don't have a consistent installation of MPI plus a working mpi4py that is built with that sa

[2019-06-24 12:10] zonca commented on #276
At least the debugger should work on serial mode. I am currently print-debugging, which is no fun.

[2019-06-24 12:11] zonca commented on #276
I got around the `python setup.py develop` issue, I install the package with cmake, then symlink the python package into the site-packages folder.

[2019-06-24 12:12] zonca commented on #276
`py.test` works fine with MPI, see for example https://github.com/healpy/pysm/blob/master/run_mpi_tests.sh

[2019-06-24 13:58] tskisner commented on #276
Hi @zonca, toast uses the standard python unittest module.  The tests use a test runner which is very close to the default text runner except that there is an optional comm argument.  The tests are added manually to the test suite, rather than using auto discovery.  However, it's all just standard python unittest stuff.

What changes do you think are needed to support your use case?  Do you just w

[2019-06-24 14:01] tskisner commented on #276
As for the develop target, I agree we can add a custom command that basically does just what your workaround does- builds the software and then installs symlinks.

[2019-08-13 20:55] tskisner commented on #265
Implemented in e5c7dd86137264f743b7be761bba17a9bda64388 for 2.3.0 release.

[2019-08-13 20:55] #265 closed

[2019-08-13 20:58] tskisner commented on #267
This is fixed in e5c7dd86137264f743b7be761bba17a9bda64388 for 2.3.0 release.

[2019-08-13 20:58] #267 closed

[2019-08-13 20:59] tskisner commented on #261
This is implemented in e5c7dd86137264f743b7be761bba17a9bda64388 for 2.3.0 release.

[2019-08-13 20:59] #261 closed

[2019-08-13 21:00] tskisner commented on #257
This is implemented in e5c7dd86137264f743b7be761bba17a9bda64388 for 2.3.0 release.  One can pip install from source directly from a github URL.  We have no intentions of building binary wheels, and instead will push forward with conda packages.

[2019-08-13 21:00] #257 closed

[2019-08-13 21:01] tskisner commented on #256
This is implemented in e5c7dd86137264f743b7be761bba17a9bda64388 for 2.3.0 release, **except** for the documentation updates, which will be tracked separately.

[2019-08-13 21:01] #256 closed

[2019-08-13 21:04] tskisner commented on #255
The documentation updates are the next task.  I did not want to hold up the 2.3 release for this, but readthedocs configuration is working to install the package prior to the sphinx build.

[2019-08-13 21:08] tskisner commented on #202
Just a note that @keskitalo has taken the first step towards this work in #280, by moving the operator setup into a toast.pipeline package.

[2019-08-13 21:18] tskisner commented on #125
Although the documentation needs to be written still, there is now an included script which formats the source to meet our requirements:

https://github.com/hpc4cmb/toast/blob/master/src/format_source.sh

For the atom editor, there is also a config in the `.atom` directory that is automatically detected by the `Atomic Management` plugin to enforce these formatting rules on save.

[2019-09-05 04:33] #276 closed

[2019-09-20 21:04] tskisner opened #289 "Add more extensive unit tests for fast / approximate math methods"
We need more detailed tests around extreme values for the internal fast trig functions.

[2019-09-23 15:01] tskisner commented on #289
In addition to this, we should expand the test case for the internal healpix projection functions.  This can be done from python to allow comparison to healpy.  Although the current compiled unit tests compare ang2pix results around the sphere, they do not compare results for small epsilons around extrema of the projection (pole, phi=0, etc).  Since this compiled code will be used by larger kernel

[2019-10-13 00:05] zonca opened #295 "Modify logging level in Python"
how do I modify the TOAST logging level from Python?

[2019-10-13 00:09] tskisner commented on #295
[code]

[2019-10-13 00:22] zonca commented on #295
thanks!

[2019-10-13 00:22] #295 closed

[2019-10-16 17:31] tskisner opened #297 "Cache class should support complex data type"
We want to be able to store Fourier domain objects

[2019-10-17 11:30] ziotom78 opened #298 "Unable to compile TOAST with OpenMPI"
I am trying to compile TOAST within the following environment:

- GCC 9.2.0
- CMake 3.15.4
- OpenMPI 4.0.2

Running `mkdir build && cd build && cmake .. && make` produces the following error:

[code]

The problem is that OpenMPI defines `MPI_Comm` as a pointer to an opaque structure, which is not defined in the header files. However, TOAST uses `pybind` to create Python bindings, and for `AtmSimPy

[2019-11-01 22:18] tskisner opened #305 "Local submap calculation"
Documenting some discussion with @keskitalo .  There is a stale version of OpLocalPixels in toast/map/pixels.py that we should remove.

Also some thoughts:

1.  With the new `pipeline_tools.get_submaps()`, this is the only place that OpLocalPixels is used (or I guess the only place that it should be used...).  This operator returns the local pixels and also the local submaps and number of pixels p

[2019-11-08 19:19] ickc opened #308 "test ops_sim_pysm failing when libsharp is used"
# Description

This error is known to not easy to reproduce. For example it cannot be reproduced on @keskitalo's Macbook Pro. @tskisner also see similar error on Travis CI and current CI has this case disabled.

The failing test case is `ops_sim_pysm`. Note that only when MPI is used, `libsharp` is used. As below shows `ops_sim_pysm` only fail when MPI is used. i.e. the problem is originate from `

[2019-11-08 19:57] ickc commented on #308
I tried to compile libsharp with `-fsplit-stack` option and it has the same test failure. But I'm not sure if that's the idea @tskisner has in mind.

[2019-11-08 20:18] ickc commented on #308
ping @zonca as he knows more about libsharp.

[2019-11-08 20:47] zonca commented on #308
I have no idea what is going on, maybe NSIDE is really low and transform is badly defined?
I can take care of debugging, this, it is going to take some time though.
But if you have any more tests or ideas on how to debug this, please go ahead!

[2019-11-22 08:28] zonca opened #311 "Delete gh-pages branch"
Delete the `https://github.com/hpc4cmb/toast/tree/gh-pages` branch,
because http://hpc4cmb.github.io/toast/index.html# is top result on google for toast and it is a old 2.2.0 documentation of toast.

[2019-11-22 16:55] unfunfunt opened #312 "TOD Clearing contents that are not per-detector"
https://github.com/hpc4cmb/toast/blob/eadd6b3f8e02bb6f42388d428979107f77ad6aa1/src/toast/tod/tod_math.py#L358

It would be great to have another parameter here to be able to remove cache contents that don't follow the 'thing_detector' naming scheme

[2019-11-27 18:15] keskitalo commented on #298
@tskisner @ziotom78 Is this issue ready to close?

[2019-11-27 18:19] keskitalo opened #314 "`toast.__init__` fails an exception"
Should `import toast` fail, the exception handling seems to have some stale code that looks for file called `RELEASE` two levels higher than the root directory: https://github.com/hpc4cmb/toast/blob/master/src/toast/__init__.py#L24-L35

[2019-11-27 18:20] tskisner commented on #314
That is not stale code- it is used installing the code with setup.py during generating the documentation on readthedocs.

[2019-11-27 18:22] keskitalo commented on #314
Excellent. However, it still fails if there is any issue importing `toast`:

[code]

[2019-11-27 18:25] tskisner commented on #314
Ok, we should have an additional try / except around parsing the RELEASE file and raise ImportError so that it propagates back to the calling code.

[2019-11-28 15:09] ziotom78 commented on #298
@keskitalo , from my point of view everything is ok now: TOAST compiles fine on my laptop (OpenMPI 4.0.2, GCC 9.2.0, Linux Manjaro).

[2019-11-28 16:13] keskitalo commented on #298
Closing a fixed issue.

[2019-11-28 16:13] #298 closed

[2019-12-16 12:35] mreineck commented on #308
I just stumbled over this by accident ...

Do you suspect the problem is in `libsharp` itself? If so, can you describe how it is called (i.e. how many MPI tasks, which rings on which task, which m on which task etc.)?
It's possible that I have overlooked some corner case where an MPI task does not get any m value or any ring pair, and that this in turns leads to garbage results.
On the other hand,

[2019-12-16 12:39] mreineck commented on #289
Out of curiosity: do you have benchmark results on the fast vector functions? My feeling is that, at least for big array sizes, memory bandwidth will negate most of the speed advantages ... especially for cheap functions like `sqrt`.
Also, recent gcc versions do a very good vectorization of mathematical intrinsics with the right compiler flags (-ffast-math -O3 -march=...).

[2019-12-16 13:02] ickc commented on #308
The result most probably is in `libsharp` itself. The problem is that it is hard to reproduce. It is very stateful in the sense that a change in the environment could make it work or break. We know that it is failing on one of my computer, on Travis, on yours, but not on other people's computers including Reijo's and Ted's, and on NERSC.

[2019-12-16 13:10] mreineck commented on #308
OK, but if I knew what the actual call to the libsharp library looks like, I could setup a pure C testing environment (using valgrind and other tools), which is much easier to handle than debugging something wrapped in Python.
Of course it may not fail then, but if there is some dodgy memory access going on, valgrind will still detect it.

[2019-12-17 15:07] tskisner commented on #289
@mreineck , I agree that in the era of modern compilers and architectures with wide SIMD units and deeper memory hierarchies, all of these Taylor approximation methods should be revisited for their usefulness or else removed.  This code was written 10 or more years ago at a time when we were expanding the detector pointing every iteration of a conjugate gradient solver.  Things like atan2() became

[2019-12-17 15:09] #289 closed

[2019-12-17 15:12] tskisner commented on #216
This was all fixed by the 2.3 refactor that made MPI optional.

[2019-12-17 15:12] #216 closed

[2019-12-17 17:10] tskisner commented on #305
This was resolved by #306.  The locally hit submaps are now computed once during pointing expansion.

[2019-12-17 17:10] #305 closed

[2019-12-17 17:12] tskisner commented on #263
The running of small examples in the travis tests was restored in #286.  Closing this now.

[2019-12-17 17:12] #263 closed

[2019-12-17 17:31] tskisner commented on #308
Hello @mreineck and @zonca.  TOAST does not call libsharp itself.  Instead, it calls this PySM function:

https://github.com/hpc4cmb/toast/blob/dbd8fa679e34a7a703a8cb2ebb4830e5792769be/src/toast/todmap/sim_det_pysm.py#L202

Which in turn calls this in the MPI case:

https://github.com/healpy/pysm/blob/8a6affeeee55a889fabd8d518efcccea5f335786/pysm/models/template.py#L121

Which uses libsharp:

http

[2020-03-19 17:20] keskitalo opened #326 "Internal Az/El convention contradicts the astronomical convention"
Matthew Hasselfield noticed that the TOAST Az/El angles follow a wrong convention in https://github.com/simonsobs/sotodlib/issues/44. We'll need to change the convention in the `TODGround` class.

[2020-03-19 18:03] keskitalo commented on #326
The TOAST conventions are fine. There was an issue in `sotodlib` export method.

[2020-03-19 18:03] #326 closed

[2020-04-14 14:11] tskisner opened #330 "PySM astropy.utils.data cache locking"
When running PySM, data files are downloaded using astropy.utils.data, which caches files in ~/.astropy.  When multiple MPI groups are used in toast, there are multiple processes trying to download and read files.  Even if the maps exist in the cache (say from a previous run), then if multiple processes try to read these files at the same time it produces an astropy exception that the cache was lo

[2020-04-14 17:31] tskisner commented on #98
Resolved by #320

[2020-04-14 17:31] #98 closed

[2020-04-14 17:44] tskisner commented on #258
The native map-maker is now merged as of #321 and working, except for one known performance issue which should be a separate issue.

[2020-04-14 17:44] #258 closed

[2020-04-14 17:44] tskisner commented on #259
Closed as of #321.

[2020-04-14 17:44] #259 closed

[2020-04-14 17:46] tskisner commented on #255
Documentation is now up to date on readthedocs.  Closing this, but we should open specific issues for any problems / improvements that remain.

[2020-04-14 17:46] #255 closed

[2020-04-14 17:53] tskisner commented on #157
Closing this since the `pipeline_tools` subpackage is in place, and the discussion here about config formats is superceded by comments in #202.

[2020-04-14 17:53] #157 closed

[2020-04-14 17:59] zonca commented on #330
that is already implemented in so-pysm-models, which has bigger files:

https://github.com/simonsobs/so_pysm_models/blob/master/so_pysm_models/utils/__init__.py#L47

Next I'll be porting this into PySM proper, when I'll bring all the `so_pysm_models` to `pysm`. If you need it urgently, I can give priority to this small fix.

#331 is un-necessary, please do not merge it.

[2020-04-14 18:09] zonca commented on #330
I switched to be notified only if mentioned, so please tag me for relevant issues.

[2020-04-14 20:28] tskisner commented on #330
Thanks @zonca, I'll disable PySM temporarily in my branch for #332, so that I can make progress on that.  As soon as you have a new release I'll update the packages at NERSC and retest.

[2020-04-14 21:10] tskisner opened #333 "Improve installation with pip"
Currently we enable "full featured" builds with cmake and inside a conda build environment.  We also have a setup.py that basically just runs cmake.  When the setup.py is used, we explicitly **disable** the use MPI.  The reason for this is that many users have no idea what MPI installation they are actually using.  Instead, they have mpi4py installed via OS packages, or from pip, or from conda.

T

[2020-04-15 14:17] tskisner opened #334 "Data and Processing Model"
This is a "meta issue" that documents a proposal involving future changes to our in-memory data model and also the dumping / loading of data.  Many smaller issues will be added to go into the details.

Most TOAST workflows have converged to operating more like a "source and sink" pipeline model.  This proposal makes this model explicit by storing the data in an actual container rather than the TOD

[2020-04-15 14:41] tskisner opened #335 "Quaternion representation"
Our quaternion operations assume that the scalar part is the first element of each set of 4 numbers.  This matches the definitions in the `quaternionarray` python package, the wikipedia article on quaternions, and various other pieces of literature.  Unfortunately, the opposite convention (scalar at the end) is used by the Boost quaternion library and packages using that (like spt3g).  To reduce i

[2020-04-15 14:47] tskisner opened #336 "Move Telescope and Focalplane classes to the main package"
As the first phase of #334, move these classes (currently in `pipeline_tools`) into the main package and any existing / required features from the current TOD base class.

[2020-04-15 14:53] tskisner opened #337 "Improve Cache class interface"
The `Cache` class is essentially a dictionary of C-allocated buffers presented as numpy arrays.  The current class implements custom methods for get / set / erase of these entries in order to handle explicit creation and aliases of entries.  We should at least investigate whether we can do these same operations with a more "dict-like" interface.  It may not be possible, but we should try.  Related

[2020-04-15 14:56] tskisner opened #338 "Create an Observation wrapper class"
This is part of the first phase of #334.  Create a class (`Observation`) that provides a thin wrapper around a current observation dictionary and associated TOD methods and cache entries.  This can then be used as a transitional interface for operators that need to read / write to cached data.

[2020-04-15 15:00] tskisner commented on #215
Revisiting this old issue.  Every observation is independent in terms of detectors, sampling, etc.  So it is not possible to represent the full dataset as a single dictionary-like thing.  However, we **can** do a better job on the interfaces to data in a single observation.  See #334.  Closing this issue in favor of discussion on that proposal.

[2020-04-15 15:00] #215 closed

[2020-04-15 15:19] tskisner commented on #126
This discussion is somewhat stale.  As of April 2020 we currently do have several operators that use C++ under the hood to thread over detectors (and this code is called from python via pybind11).  In practice this is most critical for a handful of operators.  Moving forward, some operators will go a step further and use CUDA operations if available.

[2020-04-15 15:19] #126 closed

[2020-04-15 16:13] tskisner opened #339 "Operator execution changes"
Currently Operator classes have a constructor and the `exec()` method which takes the distributed data object.  There are many cases where we would like to run an "outer loop" over a subset of the data and have a sequence of operators working on that subset.  This is a fairly small change to the API and one that can be done in a backwards-compatible way.  Something like:
[code]
detector subsets ar

[2020-04-15 16:42] tskisner opened #340 "Parameterized construction of operators"
This issue is an updated discussion thread of the older issue #202.  We want an easy way of constructing operators directly from a dictionary of parameters.  This has several parts:

1.  Some code external to the operators can parse options from a variety of sources.  For example, a TOML config file could set some defaults that were then overridden by commandline arguments.

2.  The operators them

[2020-04-15 16:43] tskisner commented on #202
Closing this in favor of the updated issue #340.

[2020-04-15 16:43] #202 closed

[2020-04-15 16:43] tskisner commented on #260
This issue is superceded by #339 and #340.

[2020-04-15 16:43] #260 closed

[2020-04-15 17:19] zonca commented on #340
I have something similar in `mapsims`, you could review that approach for reference.
An example parameter file is in:
https://github.com/simonsobs/mapsims/blob/master/mapsims/data/example_config_v0.2.toml

The approach is very simple, each section of the config file, for example `cmb`, has a class attribute, in this case `mapsims.SOPrecomputedCMB`, so that class is instantiated and all other lines

[2020-04-15 19:12] zonca commented on #330
ok, PySM 3.2.0 should fix this issue, PyPI updated, conda package is building

[2020-04-16 07:07] tskisner commented on #330
Hello @zonca, I confirm that PySM data files now are loaded from disk explicitly.  I had to do:
[code]
and also disable UserWarning for PySM:
[code]
Or else the logs were filled with hundreds of lines warning about the use of the manual data cache.  I am now seeing the astropy data cache lock error from healpy:
[code]
The error comes from healpy downloading the pixel weight files.  Remember there

[2020-04-16 07:13] zonca commented on #330
Ok can you open an issue on healpy with minimal test case?

On Thu, Apr 16, 2020, 00:07 Theodore Kisner <notifications@github.com>
wrote:

[2020-04-16 07:15] tskisner commented on #330
I can- but this comes about due to two processes on different nodes trying to download the same file to the same directory on a shared disk.  Does healpy care about that?  Or is the answer to pre-download all possible healpy data files?

[2020-04-16 07:46] zonca commented on #330
It depends on how difficult it is to implement

On Thu, Apr 16, 2020, 00:16 Theodore Kisner <notifications@github.com>
wrote:

[2020-05-05 14:55] tskisner opened #342 "Use of healpy from multiple processes causes astropy cache deadlock"
Our TOD simulations with PySM run in parallel with different groups of processes working on a set of detectors or a set of observations (depending on whether it is using the group or rank communicator).

Each set of processes loops over detectors and on a single process calls `healpy.Rotator.rotate_map_alms()`.  Under the hood, healpy uses `astropy.utils.data.get_pkg_data_filename()` to get the pi

[2020-05-05 19:45] zonca opened #344 "Migrate CI to travis-ci.com"
I am migrating healpy from travis-ci.org to travis-ci.com, still free for open source but more features.

https://docs.travis-ci.com/user/migrate/open-source-on-travis-ci-com/

I think a helpful feature is that it allows cron builds. So you can check master every month to check nothing broke due to dependency changing.

You need to click the "join to beta" in the settings for the `hpc4cmb` organiz

[2020-05-05 20:07] tskisner commented on #344
Ok, thanks for the heads up.  I'm working on some travis deployment items in a branch now- let's do this after that is merged.  Will leave this issue open so we don't forget about it.

[2020-05-15 20:21] tskisner commented on #344
Just a note that I recently moved a project to use github actions / workflows:

https://github.com/hpc4cmb/cmbenv/blob/master/.github/workflows/test.yml
https://github.com/hpc4cmb/cmbenv/blob/master/.github/workflows/deploy.yml

And was very happy with the result.  They allow long-running (6 hour) jobs and support all the usual things (workflows are configured on specific git repo actions like pus

[2020-05-15 20:25] zonca commented on #344
I have no experience with GitHub actions , but they look very promising!

[2020-05-19 19:35] #344 closed

[2020-05-21 17:15] tskisner commented on #340
Thanks @zonca, I like your approach.  I have been thinking about this more lately.  Combining this functionality with the data model changes in #334 and the operator changes in #339 will get us closer to the usability goal I have in mind.  Basically I want interactive use to look like this:
[code]
For non-interactive use in a pipeline script, I **really** like your `from_config()` concept.  Basica

[2020-05-21 17:50] zonca commented on #340
I think name of methods should be verbs, so `get_signal` instead of `signal`, also `defaults`.

then can we do without `finalize` and assume classes are immutable once initialized?

also the `update` method is unclear, what does it update? it seems to me it should be `exec` or `run` maybe?

[2020-05-21 18:43] tskisner commented on #340
Ok, I like your idea of using verbs for the names.  The "update" name was just me trying to use another word since "exec" was taken :-)

Basically the model I had was:

1.  Class is constructed with options that are fixed for the life of the class instance.

2.  Class "does something" (`update()`) with a subset of the data, cutting on observation and detectors.  Actually we could move the "observa

[2020-05-21 21:16] zonca commented on #340
`exec` is fine, using `__call__` is often confusing.
I would call the method `process` instead of `update`, it is processing a bunch of data for some detectors.
also, all editors have automatic completion nowadays, I think we should use long names, so `detectors` and not `dets`, which to me reminds determinants for some reason.

[2020-06-25 17:22] tskisner commented on #335
It was recently brought to my attention that `scipy.spatial.transform.Rotation` also uses "scalar last" notation (the opposite of Boost).  So I think that TOAST will need to support both in the long term (i.e. not just switch).  So the environment variables to control that should be named accordingly.

[2020-07-09 15:27] tskisner commented on #333
This is now fully addressed.  As of version 2.3.8, MPI is completely optional and only used in the python layer.  Binary wheel packages for Linux and MacOS are built automatically by our CI scripts whenever we tag a version of toast.

[2020-07-09 15:27] #333 closed

[2020-09-04 21:03] zonca commented on #255
@tskisner please disable the old docs at http://hpc4cmb.github.io/toast/

Also, I recently figured out a way out of readthedocs: https://zonca.dev/2020/09/migrate-travisci-readthedocs-github-actions.html

[2020-11-26 08:15] mreineck opened #373 "Integrate new total convolution/interpolation library?"
Perhaps it's a good idea to switch from email exchange to discussing this here, where everyone interested can see it...

I'd be happy to contribute the new total convolution/interpolation library I implemented over the last year or so to Toast, with the long-term goal to supersede `libconviqt`. It basically has the same functionality, but is much more accurate and, at least for beams with high `m`

[2020-11-26 08:36] mreineck commented on #373
Some data on the code:
- code size relevant for this functionality: approx. 10.000 sloc
- no external dependencies
- requires a C++17 compiler

[2020-11-27 15:21] tskisner commented on #373
Hello @mreineck , thanks for opening an issue to track this.  As discussed offline, it will hopefully not take much work to call this from a toast workflow.  In toast there are a couple hundred lines of interface code that call `libconviqt`, but that package (including its mpi-aware python bindings) are not in our source tree, but rather an external package.

Your code is actually *easier* for us

[2020-11-27 15:41] mreineck commented on #373
That makes perfect sense, and I'm happy now that I didn't spend time trying to get MPI parallelism in on the C++ side.

There is however another problem concerning binary wheels: achievable performance depends strongly on the available vector extensions, and I have not managed yet to come up with a way to do run-time dispatching of the appropriate functions. Currently the recommended way is to com

[2020-11-27 15:48] tskisner commented on #373
We assume that users installing binary packages from PyPI or conda-forge are interested in ease of installation / maintenance rather than performance.  These are typically built inside manylinux docker containers (ancient CentOS) using older (gcc-8) compilers.  This provides maximum glibc compatibility across a range of linux distros.

For use at computing centers we always build from source, with

[2020-11-27 16:00] mreineck commented on #373
OK, great! gcc 8 will work fine with the code (lowest working version is gcc 7). With the Intel compiler things could get a bit hairy, since the versions I tested didn't know about `std::any` and perhaps a few other C++17 features. However that may have changed in the meantime, and workarounds may also be possible.

[2020-12-15 14:32] mreineck commented on #373
Concerning Intel compiler support: I managed to compile and successfully test the code using the "new" Intel compilers (see https://software.intel.com/content/www/us/en/develop/tools/oneapi/all-toolkits.html). Performance was worse than with `gcc` though.
Given that Intel appears to switch compiler atchitecture, I don't expect to get the code to run with the "traditional" compiler (i.e. `icpc`); i

[2021-02-02 17:49] tskisner commented on #338
This issue will not be addressed- instead we are simply pushing forward with the 3.0 release.

[2021-02-02 17:49] #338 closed

[2021-02-02 17:50] tskisner commented on #337
Closed by #363

[2021-02-02 17:50] #337 closed

[2021-02-02 17:50] tskisner commented on #336
Note: this is implemented in the toast3 branch.  Will close once merged.

[2021-02-02 17:52] tskisner commented on #334
This is implemented in the toast3 branch with the `Observation` class and updated `Operator` class.  Will keep this open until that release.

[2021-02-02 17:57] tskisner commented on #312
The data model in toast3 is completely different, and there are now operators for both deleting and resetting to zero arbitrary observation keys.  Marking this issue for the 3.0 release so that we remember to close it at that point.

[2021-02-02 17:58] #311 closed

[2021-02-02 18:01] tskisner commented on #297
Although the `Cache` class does not exist in toast3, this would still be a useful feature.  Storing such data would require a wrapper around C++ complex type (like the `AlignedF64` class).  Maybe called `AlignedC64` or similar.  Then it would be a few-line change to the `DetectorData` class to support that new data type.

[2021-02-02 18:09] tskisner commented on #264
In many cases, we are memory-constrained when running a workflow, so re-using calculation results to produce more data would not be useful.  I'm going to close this issue for now, but if we discover a concrete use case where we do an expensive calculation and have leftover available memory and want to Monte Carlo that, then we can open a new issue with more specifics.

[2021-02-02 18:09] #264 closed

[2021-02-02 18:14] tskisner commented on #138
Fixed in upstream `pshmem` package.

[2021-02-02 18:14] #138 closed

[2021-02-02 18:16] tskisner commented on #97
This is implemented in the toast3 branch by the `PixelDistribution` and `PixelData` classes.  Operators which generate pointing can optionally create a `PixelDistribution` instance which stored in the data.  All other `PixelData` instances use this.

[2021-02-02 18:19] tskisner commented on #15
In practice, this feature has not been needed.  Closing this now.

[2021-02-02 18:19] #15 closed

[2021-02-16 15:30] algebrato opened #377 "Atmospheric absorption coefficient"
https://github.com/hpc4cmb/toast/blob/618b26c371baabd8a7898eff037cab3f58d23078/src/libtoast/src/toast_atm_utils.cpp#L102

Dear maintainers, this line sounds weird. Why do you return only the wet opacity?
For high frequencies (~150GHz) could be work, but for low frequencies (10-50 GHz), the contribution of the dray air scattering and the O_2 could not be negligible.

May I suggest to change this li

[2021-02-16 16:28] keskitalo commented on #377
Thank you for the suggestion! This function is used to derive the thermal loading, not extinction from scattering. To that end, neither wet or total opacity is exactly right. I'll make a note to consider if there is a better way to derive it.

[2021-02-16 17:11] algebrato commented on #377
Hi @keskitalo! Thank you for your time. I made two different plots with AM (https://www.cfa.harvard.edu/~spaine/am/) and with TOAST with the python binding: `atm_absorption_coefficient_vec`.

Orange line = AM results from tenerife sky (e^(-\tau))
Blue line = TOAST results using a weather file that I made out of the ERA-5 reanalysis data
`absorb=atm_absorption_coefficient_vec(2390, temperature_air,

[2021-04-01 13:24] mreineck commented on #373
Just a heads-up: I'm making a very small interface change in the functions `getPlane` and `updateSlm`. They were taking separate `re` and `im` arguments (where `im` was only used for `mbeam>0`). I'm merging these into a single argument by introducing an leading array dimension with either  one or two entries. This should make the code easier to use, and also allows internal simplifications.

[2021-04-07 11:03] mreineck commented on #373
In related news, @AdriJD and myself are thinking about how the totalconvolve library and the `hwp_syst` branch of https://github.com/AdriJD/beamconv/ can be combined for more realistic simulations including a HWP. This might also be of interest for `toast` in the slightly longer term.

[2021-04-22 08:07] mreineck commented on #373
Now that libconviqt support is back in Toast 3, should I try to build an analogous operator for ducc0.totalconvolve? Most likely I won't be able to get it fully working all by myself, but at least I might save you some tadious work.
The only thing I'd need to get started is a small demo/test case for Toast 3 that exercises the current libconviqt operator, so I can validate the new code against it.

[2021-04-22 14:32] tskisner commented on #373
Thanks for working on this @mreineck !  It was on the to-do list of @keskitalo, so I am sure he appreciates it :-)

[2021-04-22 14:54] mreineck commented on #373
Experimental version in #387.

[2021-04-22 14:57] mreineck commented on #373
I'm perfectly happy to do as much as I can on my part, but I'm pretty sure there are many details which require more Toast knowledge than I have.
Things seem to run now, which is encouraging :-)

[2021-04-22 16:03] keskitalo commented on #373
Thanks @mreineck. This is awesome! I made some comments on your pull request. Please also run `src/format_source.sh`. The biggest question is whether there needs to be two versions of the operator like with `conviqt`.

[2021-04-22 16:14] mreineck commented on #373
I agree that one version of the operator should be enough. Will have a closer look at this soon.

[2021-05-01 07:35] mreineck commented on #373
I think this can be closed.

[2021-05-01 07:35] #373 closed

[2021-07-05 06:04] chinoney opened #410 "error on "../platforms/cori-gcc.sh""
I usually compile TOAST following the instruction here (w/ for Simons Observatory),
https://github.com/simonsobs/pwg-scripts/tree/master/pwg-tds/sat-obs-matrix,
which usually succeed. However I got the following error today,
[code]
Does anyone know how to fix it?

[2021-07-06 23:32] ickc opened #411 "Extend the logger to support *args"
I found that Python logger has additional arguments such that the string with not be formatted if the log level is higher: https://docs.python.org/3/library/logging.html#logging.debug

But then I found that the toast logger only supports the first argument of the Python logger.

MWE:

[code]

[code]

The advantage of `*args` is that when the log level is not needed, the string is not constructed i

[2021-07-20 08:42] yoshinori-0778 opened #414 "How to install cmbenv-intel_20210527 in /global/common/software/** at NERSC?"
Dear all,

I'm one of the members in GroundBIRD experience.
I would like to install cmbenv-intel_20210527 in /global/common/software/** at NERSC in order to modify the code for our experience(GroundBIRD).
I'm trying now while refering to "Installing TOAST (Optional)" on your document(https://github.com/hpc4cmb/toast/blob/master/docs/nersc.rst).
However, I don't understand 2nd and 3rd procedures;
2

[2021-07-20 08:45] giuspugl commented on #414
Hello,
Did you check the documentation page ?
https://toast-cmb.readthedocs.io/en/latest/nersc.html#nersc

[2021-07-20 09:02] yoshinori-0778 commented on #414
Hello,
Thank you for your reply.

Yes, I have checked that page.
But, I did not understand how to load the cmbenv stack (2nd procedure on Installing TOAST (Optional)).

[2021-07-20 13:33] tskisner commented on #414
If you want to install your own copy of toast at NERSC, you should just load the existing cmbenv stack and compile toast.  You do not need to install a copy of the full cmbenv stack (that is a much larger task, and not part of toast).  The point (2) which says "load the cmbenv stack" is referring to the previous sections:
[code]
So you are just using those pre-installed tools.  This stack includes

[2021-07-20 15:00] yoshinori-0778 commented on #414
Thank you for your answer.

I can understand how to do step2, and I could load the existing cmbenv stack and use toast.
However, I cannot rewirte the loaded toast code due to the permission.(toast path : /global/common/software/cmb/cori/cmbenv-intel_20210527/cmbenv_aux/lib/python3.7/site-packages/toast)
We think this is natural since we are using global toast.

What I want to do is to rewrite (mod

[2021-07-20 15:41] tskisner commented on #414
You need to clone this git repository (`git clone git@github.com:hpc4cmb/toast.git`) into your home directory at NERSC.  If you are modifying the toast source then you should have your own copy of the source.  You should be using your own git checkout of toast if you are making modifications.  Then you should install that to some other prefix (like in your home directory) using the instructions in

[2021-07-23 03:18] ickc commented on #414
Another way of doing this is to clone the [cmbenv repo](https://github.com/hpc4cmb/cmbenv.git) directly. And then run `./cmbenv` in that directory. E.g. `./cmbenv -c cori-intel -p /global/common/software/......`. This is how I use it in the past. You'd probably want to use one of the release tag in <https://github.com/hpc4cmb/cmbenv/releases>.

Installing at NERSC is more complicated as that requi

[2021-07-26 03:31] yoshinori-0778 commented on #414
Dear all,
Thank you for reply.
I have tried two way as mentioned above.

1. git clone toast as written by Mr Theodore Kisner.
I could do git clone and build and make basically using the instructions in that web page.(Cmake version in NERSC is not enough to do this compile. So I install latest cmake in my home directory and compile the toast by using this cmake.)
However, when I try to import toast

[2021-07-26 05:14] tskisner commented on #414
Hello @yoshinori-0778 , if you cannot build toast using the existing `cmbenv` software stack, then you should not try to build the full set of dependencies from source (i.e. do not try and compile the full cmbenv tools from the beginning).  That is **much** more work than you need just to use a custom toast.  All of the toast dependencies are already installed and available.

The first clue is tha

[2021-08-05 11:23] yoshinori-0778 commented on #414
Dear  Theodore Kisner,

Thank you for presenting detail description.
I finally have done the install of toast following your explanation.
I have confirmed that toast can be imported correctly.(`$HOME/toast_install`)

And, I also have investigated `cmbenv` correctly as written by Kolen Cheung

I really appreciate your time and effort.

Best Regards.

[2021-09-15 14:21] Ankurdev-astro opened #459 "TypeError: Center-and-width format in toast_ground_schedule.py"
Using Center-and-width format in toast_ground_schedule.py throws :
[code]

**Note:** Works and No error when --debug option in  toast_ground_schedule.py is used. Also works Rectangular format.

![TOAST_TypeError](https://user-images.githubusercontent.com/34693706/133449428-98c5227e-3234-47fb-afb2-4bfcff89ada7.png)

[2021-09-15 16:53] keskitalo commented on #459
Thank you for raising the issue! I just tried running your command line against the head of the `master` branch. It didn't reproduce the problem so it may be an issue that was already fixed. Are you in the position to update TOAST or are you using a system-wide install at NERSC (for example)?

[2021-09-16 13:06] Ankurdev-astro commented on #459
Thank you for your reply. Yes, you are correct, the issue has been solved after building from the master branch. Thanks
[SOLVED]

[2021-09-16 13:06] #459 closed

[2021-09-18 18:33] #97 closed

[2021-09-18 18:38] tskisner commented on #252
Toast 3.0 includes a Focalplane class which can hold any detector properties that can be stored in an astropy Table.

[2021-09-18 18:38] #252 closed

[2021-09-18 18:40] tskisner commented on #262
This is now fully implemented in toast3, with save / load to HDF5.

[2021-09-18 18:40] #262 closed

[2021-09-18 18:42] tskisner opened #462 "Fix spt3g interval translation performance"
The toast3 branch now has general spt3g translation support (with callbacks for overriding the translation details).  However, the current default translation of intervals is too slow.  There is work in progress on this issue.

[2021-09-18 18:43] tskisner commented on #266
This issue has be addressed in toast3.

[2021-09-18 18:43] #266 closed

[2021-09-18 18:44] tskisner commented on #268
There is now general noise model save / load to HDF5, which is sufficient for our current purposes.

[2021-09-18 18:44] #268 closed

[2021-09-18 18:48] tskisner opened #463 "DetectorData / Shared support for complex data"
We should add support for complex data by defining a new aligned data type in the C++ code.

[2021-09-18 18:48] tskisner commented on #297
superceded by #463

[2021-09-18 18:48] #297 closed

[2021-09-18 18:54] tskisner opened #464 "DetDataMgr.ensure() changes"
The `ensure()` method already checks if the the detector data object exists and creates it if needed.  We should return a bool so that the calling code knows if the object already existed.  In this case, the calling code might "short circuit" some operations.

[2021-09-18 18:56] tskisner opened #465 "Add support for traits that are Lists of Quantities"
We have added traits to support astropy Quantities, but we should add support for containers (at least List) of Quantities.  Currently the FlagSSO operator has a workaround in place using strings that could be converted to use this.

[2021-09-18 21:26] tskisner opened #466 "Overhaul Documentation and Examples"
This issue is to track the changes that are needed for the documentation

- [ ] Restructure the sphinx docs.  Background info, update installation section.  Data and processing model updates.  Organize operators by simulation / reduction and group by topic.  Add section on workflow script creation / configuration.
- [ ] Update example / tutorial notebooks
- [ ] Add developer documentation:  focus

[2021-09-18 21:39] tskisner opened #467 "Port observation matrix support to toast3"
Summarizing offline discussion:
- Filter regression requires a very specific combination of filters and this is tightly coupled to the building of the observation matrix, so this will be done together within one operator.
- The binning of the resulting map should be consistent with the previous steps.
- Just as the general mapmaker takes an instance of a binning operator, the filter / obs matrix o

[2021-09-18 21:42] tskisner opened #468 "HWP Demodulation"
Bring HWP demodulation upstream from sotodlib.  This includes downsampling of data.  There is actually a PR already open for this (#461 ), but adding it here to track progress.

[2021-09-18 21:50] tskisner opened #469 "Reorganize C++ code"
This issue does not need to be addressed in the short term, but after the 3.0 release we should clean up the organization of the compiled code.  Originally the libtoast internal library was installed as a standalone shared library separate from the pybind11 compiled extension.  However, we now build this just as a cmake object library which is incorporated directly in the compiled extension.  We a

[2021-09-18 21:56] tskisner opened #470 "Port apply gain operator"
The new ApplyGain operator should use HDF5 instead of FITS (or support both and select on read).  The old "calibrate" function can be moved to the same source file as the operator.

[2021-09-18 22:02] tskisner opened #471 "Port design tool tweaks"
This issue may already be handled, but opening this just to make sure.  We should ensure that changes from PR #386 get incorporated into toast3.  This may happen as part of closing #467.

[2021-09-18 22:03] #336 closed

[2021-09-19 00:45] tskisner opened #472 "Port override of simulated weather parameters"
In #379, there was a mechanism to override the weather parameters that were randomly drawn for an observation.  We should consider how we want to handle this now.  For context, our current `SimGround` operator accepts the name or file path for a given weather model (distributions of parameters for every day / hour in the year).  Then an instance of that weather model is created for each observatio

[2021-09-19 01:09] tskisner opened #473 "Restore option of pixel space weight map in mapmaking"
The toast2 code has the option of applying a pixel weight mask during the solve.  We already have the `ScanScale` operator, but need to add support for using that in the projection pipeline during mapmaking.

[2021-09-19 01:16] tskisner opened #474 "Port PySM operations"
We should port the PySM wrapper class and the operator which scans from distributed pixel data.  We should use this opportunity to more cleanly redistribute data from rings to `PixelData` objects.  Since libsharp is no longer supported upstream, we should convert to using the ducc package.

[2021-09-19 01:19] tskisner opened #475 "Port noise estimation tools"
We have some noise estimation tools in toast2 that should be ported.  Ideally the noise estimation operator would create a Noise model at the end which would easily drop in to all our other tools that require a noise model.

[2021-09-19 04:28] tskisner opened #476 "Split mapmaker into 3 parts"
Currently the `MapMaker` operator has 3 stages:
1. Solve for template amplitudes
2. Project solved templates and subtract from the timestream
3. Make a binned map from the template subtracted timestreams
For calibration, we often want to solve for template amplitudes and multiply the timestream by the result.  We should formally split steps (1) and (2) out of the mapmaker into separate operators.

[2021-09-19 04:37] tskisner opened #477 "Re-confirm mapmaker agreement with Madam in compatible situations"
We currently have multiple unit tests that verify consistency between the toast mapmaker and madam when run in the subset of cases that are supported by madam.  @keskitalo recently did some runs with one of the benchmark scripts (as part of #461) running both mapmakers and noticed a discrepancy between their outputs.  We should:
1.  Verify in that workflow that both mapmakers are receiving identic

[2021-09-19 04:40] tskisner commented on #414
It seems like this was resolved, but feel free to reopen the issue if not.

[2021-09-19 04:40] #414 closed

[2021-09-19 04:43] tskisner commented on #340
All of these interfaces are now in place.  Operators are configured with traits from the traitlets package and can be automatically instantiated from command line options and / or config files in TOML and JSON format.

[2021-09-19 04:43] #340 closed

[2021-09-19 17:28] tskisner commented on #411
There is one technical reason and one design reason against this proposed change.

The technical reason is that the toast logging facilities are actually a wrapper around the C++ Logger class.  This allows us to unify log messages from across the C++ and Python source (i.e. they are dumped out in sequence to C stdout).  The python string passed into the logging methods is passed to compiled code.

[2021-09-19 18:05] tskisner opened #478 "Move distributed pixel data to node shared memory"
Currently, the `PixelDistribution` and `PixelData` classes store a sparse set of pixel values on each process.  These pixel values correspond to the pixels covered by the local detector data on each process.  For some scenarios (high resolution pixelization, high cadence scanning), the sky fraction covered by a single process can be quite large.  The impact of this high per-process memory use is t

[2021-09-19 18:26] tskisner opened #479 "The Poly2D filter is too slow"
This filter does a least squares fit to a spatial template on each sample.  For some jobs this can be the dominant processing step.  Work is underway to improve this and progress will be tracked here.

[2021-09-21 00:51] #411 closed

[2021-09-22 18:34] tskisner opened #480 "Use shared flags in mapmaking utils"
The mapmaking utils are inconsistent in their use of shared flags.  For example, the operator that builds the hits assumes that shared flags have already been used to flag the pointing, and this operator skips checking of those.  We should support and use shared flags throughout these operators.

[2021-09-22 20:36] tskisner opened #481 "When duplicating observations support overrides to the detector / sample sets"
Capturing some offline discussion.  When duplicating a subset of an observation for a specific use (e.g. for redistribution and applying a spatial filter), we sometimes do not care about the input detector / sample sets.  We should add an option to the `duplicate()` method that supports changing these requirements.

[2021-09-24 14:48] Ankurdev-astro opened #484 "Issue with importing pysm"
Hi,
I am running _toast_ground_sim.py_ with _[--pysm-model ]_ and  _[--pysm-apply-beam]_ parameters on toast v2.3.12 . I have _pysm3_ v3.3.2.dev46+g5c339f0 installed.
The pipeline throws an error : _RuntimeError: PySM not available_ .

Should I have _**pysm**_ installed, instead of _**pysm3**_ ?

[code]
...
[code]

![toast_pysm_issue](https://user-images.githubusercontent.com/34693706/134693729-34

[2021-09-24 15:19] zonca commented on #484
Yes, correct, you should change the import statement. We haven't used this functionality in a while so I'm not sure if it is still working properly. Please double check the outputs.

[2021-09-24 18:18] tskisner commented on #479
Fixed by #483.

[2021-09-24 18:18] #479 closed

[2021-09-24 18:20] tskisner opened #485 "Re-enable threading in noise simulation"
Many years ago, toast-1.x used threaded (batched) FFTs for noise simulation.  We should re-enable that functionality since it can be a significant improvement when running with smaller numbers of processes per node.

[2021-09-27 16:34] tskisner opened #487 "Investigate operator configuration behavior"
The configuration system for operators used in a workflow is intended to support parsing options from one or more config files in sequence, followed by specific overrides from the commandline.  Since that system was created, we added support for enabling / disabling operators in the configuration.  @keskitalo reports that in some cases an operator enabled in a config file and disabled on the comma

[2021-09-27 19:25] tskisner commented on #485
Closed by #486

[2021-09-27 19:25] #485 closed

[2021-09-27 19:26] tskisner commented on #480
This was fixed in #482

[2021-09-27 19:26] #480 closed

[2021-09-27 19:27] tskisner commented on #467
Implemented in #482

[2021-09-27 19:27] #467 closed

[2021-09-27 19:28] tskisner commented on #468
Implemented in #461.

[2021-09-27 19:28] #468 closed

[2021-09-27 19:35] tskisner commented on #339
This issue is quite stale, and pre-dates all of the current work on the Operator class, which now handles these use cases.  Closing.

[2021-09-27 19:35] #339 closed

[2021-09-30 15:32] tskisner opened #491 "Add support for memory usage estimates from PixelDistribution / PixelData"
Once a `PixelDistribution` object is created, the number of elements stored on each process (or each node, once shared memory is used) is fully specified.  This information can be used to estimate the aggregrate and per-node memory usage.  Adding this feature would allow us to estimate the map-domain memory allocation needed before doing that allocation and at least inform the user or perhaps rais

[2021-10-02 22:49] tskisner opened #492 "Fix wasteful use of MPI communicators"
This is to document an issue seen by @nestordemeure in jobs that errored out with too many communicators on cori (Cray MPICH has a hard limit of 4096 communicators).  This sounds like a lot, but they add up fast.  Doing a grep for the "Split()" method, here is what we are currently using:

- Comm class:  world + group + rank comms (2 created), plus a temporary node comm created and freed.
- job.ge

[2021-10-05 16:03] keskitalo opened #495 "Parallel unit tests hang when failure does not occur on root process"
I recently had a bunch of CI tests time out because of a broadcasting error on process # 3. The only thing printed to the log is `[3] error` and the job hangs. I had to add a `try...catch` around the failing test to get a stack trace. Seems like we should make something similar the default for parallel unit tests.

[2021-10-12 13:55] tskisner opened #502 "Coordinate system in simulated focalplane is incorrect"
The simulated instrument model included in `instrument_sim.py` includes a coordinate system reflection error when projecting wafers on the sky.  We should fix this (and document it) in a way that matches the `Xi` / `Eta` coordinate system adopted by Simons Observatory.  This same error impacts similar code in that project (https://github.com/simonsobs/sotodlib/issues/163), as well as code in repos

[2021-10-30 17:38] tskisner opened #512 "Strange unit test deadlock"
Running the unit tests on 4 MPI processes (toast3 branch) I get a reproducible deadlock.  This occurs in the `ops_groundfilter` tests, and during the generation of the ground schedule on one process.  While the other 3 processes are waiting, the root process hangs while adding arguments to the argparser (checked with simple print statements around each call to `add_argument()`).  This is a strange

[2021-11-26 17:40] suinnelee opened #518 "Weather file format--what are the table dimensions?"
I'm working on fixing a weather file to run a mapping code in a CMB experiment, and there were things that were unclear about the weather file format used in TOAST.

In weather_Atacama.fits in the tutorial (04_Simulated_Instrument_Signal) each header unit is a table where the dimensions are:
9 columns (9 weather variables)
24 rows (either time or 24 selected days in a month?)
and each of these ele

[2021-11-26 21:36] keskitalo commented on #518
Excellent questions! Sadly I cannot point you to documentation about the weather file format but it is certainly coming.

The 24 rows correspond to 24 hours (UTC) of the day. This way simulated weather parameters track diurnal variations. Night time temperature and wind are obviously systematically different from day time.

Finally, the 101 bins form a regular grid from 0 to 1 that are used to rep

[2021-12-02 06:52] suinnelee commented on #518
Hello, thanks a lot for your answer! I don't quite get the part about the inverse cumulative distribution, however. I originally thought there has to be an index that corresponds to the days in the month. Do they not have that? What is this inverse cumulative distribution mentioned?

[2021-12-02 07:27] keskitalo commented on #518
We use the historical inverse cumulative distribution functions of the weather parameters to draw randomized values that match the historical distributions (based on NASA's MERRA-2 dataset). The technique is well-established, see https://en.wikipedia.org/wiki/Inverse_transform_sampling for example.

Each HDU in the file corresponds to one month. Each row represents the hour of the day. We use the

[2021-12-09 06:41] suinnelee commented on #518
Hello, thanks a lot for the answer!
I looked at the link you left me, but there are some things I'd like to clarify. What is the desired CDF / PDF for each of the nine variables--would there be a way for me to compute required parameters from monthly day-to-day variations?

[2021-12-09 08:29] keskitalo commented on #518
In our case, the desired CDF is measured from the last ten years of MERRA-2 data.

[2021-12-10 10:05] suinnelee commented on #518
Thank you! To clarify: is the distribution function then given as a statistical probability mass function, or is the PDF assumed to be Gaussian?
Are the mean and standard deviation in the latter case found by assuming that the results from the past ten years has been sampled randomly from the said Gaussian? In that case I should set mu as the ten year average and sigma as (sqrt(number of days))*(t

[2021-12-10 16:20] keskitalo commented on #518
Not Gaussian but the actual, measured distributions.

[2021-12-24 07:51] suinnelee opened #525 "Atacama weather measurements?"
Would there be any way to find out where the data for the weather_Atacama.fits file were measured? The TS value seems to deviate a bit from the expected surface temperature found online, and I supposed this was because of the elevation. It would be best to clarify this before I moved onto swapping the weather data on my relevant site.

[2021-12-24 09:00] keskitalo commented on #525
Merra-2 data were retrieved for the one cell that contained the observatory
coordinates. I believe I used the POLAR BEAR location.

On Thu, Dec 23, 2021, 11:51 PM Suinne Lee ***@***.***> wrote:

[2021-12-28 04:58] suinnelee commented on #525
I see, thanks a lot!

[2022-01-05 12:04] Ankurdev-astro opened #526 "Updated Simulated Sky Signal Tutorial ?"
Hi ,
I am working through the _03_Simulated_Sky_Signal/simsky_mapdomain.ipynb_ [tutorial.](https://github.com/hpc4cmb/toast/blob/master/tutorial/03_Simulated_Sky_Signal/simsky_mapdomain.ipynb)

However, I ran into some issues for example with the import
`from toast.todmap import PySMSky` and
`pysm_sky = PySMSky(comm=None,
       pixel_indices=None,
       nside=NSIDE,
       units="uK_RJ",

[2022-01-06 23:48] tskisner commented on #526
Hi there, much of the current development focus is on getting the 3.0 release finished (https://github.com/hpc4cmb/toast/projects/2).  This includes updating the documentation and tutorials (#466) as well as porting the PySM operator (#474).  There is also an un-diagnosed segfault in either PySM or libsharp when run within the toast unit tests on github (the unit tests are currently disabled for t

[2022-01-13 16:07] suinnelee commented on #518
Thanks a lot!

[2022-01-13 16:11] suinnelee opened #528 "[Toast CMB - Siminst - Schedule] What is R/S?"
In the file 04_Simulated_Instrument_Signal/siminst.ipynb,
we get a scanning schedule from a given time interval before we start the simulation. I have some questions regarding the variables in this schedule file.

1. What is R/S?
2. Could there be a way to change the scanning speed by changing some of these variables?

Thanks a lot in advance!

[2022-01-13 16:17] algebrato commented on #518
Sorry for my intrusion,  @suinnelee, I would like to suggest to peek at this: https://github.com/cmbgroundbased/weather_analysis I have tried to collect a couple of routines to build the weather-file of the desire observational site.

The code accepts both MERRA2 and ERA5 reanalysis and evaluate the CDF of the weather parameters that are used by TOAST to initialize the atmospheric realizations.
Ob

[2022-01-13 16:17] keskitalo commented on #528
1. R/S stands from Rising/Setting, something that could easily be deduced from the observing azimuth
2. Phase is the phase of the Moon, Pass is the running count of observations of the target, Sub is the count of sub-observations for this Pass
3. Scanning speed is independent of the observing schedule. You set it when simulating the actual observations.

[2022-01-14 03:03] suinnelee commented on #518
@algebrato

Thanks a lot, I will definitely take a look.
I've also made my own version that writes a weather file from the nc4 MERRA 2 format, I will share it when I've cleaned it up a bit.

[2022-01-14 03:04] suinnelee commented on #528
I see. Thanks a lot for your answer!
Hope you have a great day.

[2022-01-18 04:32] suinnelee opened #529 "_simulate_sss"
Hello everyone,
Thanks a lot for all your help with my previous questions!

I am now working on running the simulations for atmospheric noise using toast (the tutorial code in 04_Simulated_Instrument_Signal) and I've come across this function called _simulate_sss.

1. Apparently it generates a simulated ground map. It says  """
        Create a map of the ground signal to observe with all detector

[2022-01-18 16:48] keskitalo commented on #529
This operator is a proof of concept. It synthesizes a random map to stand in place of a sidelobe-convolved ground map that an experiment can produce with careful modeling of the beam and the terrain around the telescope. Not all scan-synchronous signal is optical so it can be understood to include, say, radio frequency interference.

If all that matters for your simulation is to have _something_ s

[2022-01-21 14:54] Ankurdev-astro commented on #526
@tskisner Thank you for the update and reply.
I am working with pysm3 v3.3.2 and toast v2.3.8 , both installed with conda using conda-forge channel.

[2022-02-07 04:54] tskisner commented on #512
Closed by #536

[2022-02-07 04:54] #512 closed

[2022-02-07 12:57] giuspugl opened #537 "Issues with Conviqt convolution and Stokes Pixel weights"
To implement a new test funtion for the PR #534, I 've found several issues in running the routine https://github.com/hpc4cmb/toast/blob/15cd327d245cdaba896a91d7ba32336f0dea9ffa/src/toast/tests/ops_sim_tod_conviqt.py#L105

I firstly simulate sky alm with `E=B= 0`  and  set not to process polarization in the convolution
[code]
as well as not to  project QU Stokes in the Stokes Weights :
` weights =

[2022-03-09 18:51] tskisner commented on #472
The base `Weather` class can now act as a simple container of weather values.  Using this in some custom way will likely depend on the specifics of a given experiment, so I think this is now done.  Closed by #542.

[2022-03-09 18:51] #472 closed

[2022-03-17 18:24] tskisner opened #543 "Boresight rotation angle not recorded in observation"
Each ground scan includes a possible boresight rotation angle.  For simulated data, this is used to compute the boresight Az/El quaternions.  However, this is not recorded in the observation metadata.  We should save that and possibly the entire scan object in the observation metadata.

[2022-03-30 11:32] giuspugl opened #546 "Missing file argument in Focalplane constructor"
the latest toast3 version is missing a file argument in case we want to provide  a focalplane file , althouhg it is expected to be there from the docstring . see
https://github.com/hpc4cmb/toast/blob/60bcff20775dee83696d44e151f8a8d3ad3b0038/src/toast/instrument.py#L441

is it just a bug ?

[2022-03-30 15:37] keskitalo commented on #546
Not a bug, just a different design. Now you instantiate the focalplane and use the [load_hdf5()](https://github.com/hpc4cmb/toast/blob/60bcff20775dee83696d44e151f8a8d3ad3b0038/src/toast/instrument.py#L723-L763) method. For an example, see [toast_sim_ground](https://github.com/hpc4cmb/toast/blob/toast3/workflows/toast_sim_ground.py#L164-L168).

[2022-03-30 16:27] tskisner commented on #546
Although the design is intentional, @giuspugl is correct that the docstring was stale.  I [just fixed that](https://github.com/hpc4cmb/toast/commit/1b2ba86fe07b102648dcbc992c27a6605ebfe165) in the branch where I am working on the documentation.

The reasoning behind the design choice was that it was too easy to accidentally open the same HDF5 file from multiple processes causing file contention.

[2022-03-30 16:38] giuspugl commented on #546
Thanks @keskitalo and @tskisner  for reviewing this issue! I am fine with calling `load_hdf5()` as  you 're recommending, as i  agree this is  less convenient and _intuitive_ for serial runs from a notebook.
However, I  think that if the  docstring encodes this detail (perhaps with some example for serial runs as @keskitalo  did above) and it is documented then I don't see anything against  adopti

[2022-03-30 16:39] tskisner commented on #546
Ok, good point.  I will include an example in the docstring.  Will leave this open until that is fixed.

[2022-05-05 13:34] #537 closed

[2022-05-05 13:37] giuspugl opened #565 "Toast3 mapmaker coordinates"

[2022-06-12 23:30] tskisner opened #573 "Common scan range function"
Currently both the atmosphere sim operator and the wcs pointing operator (autoscale) need to compute the scan range for each observation.  This is specific to ground-based observations.  We should make a utility function for this in one location.

[2022-06-12 23:36] tskisner opened #574 "Associate pixelization operators with pixel I/O"
There is a non-unique mapping from pixelization operators to I/O routines for a given type of pixelization.  We should have pointing operators return the I/O routines to use, so that the mapmaking and map scanning code can just use the correct function.  As part of this refactor, we could generalize the map scanning operators so that there is one operator for scanning maps / masks from either memo

[2022-07-20 23:25] keskitalo opened #581 "`pixels_healpix()` does not work with `shared_flags=None`"
In the `toast3` branch, Healpix pixel numbers are expanded with operator `PixelsHealpix`. It in turn calls a `pybind11` wrapper called `pixels_healpix`.

`pixels_healpix` expects a `py::buffer` argument called `shared_flags`. `PixelsHealpix` will pass `None` for that argument, unless `self.detector_pointing.shared_flags` is set. This causes the call to fail.

[2022-08-25 07:25] tskisner opened #585 "Timestream simulation operators should enforce units"
The `DetectorData` objects in an observation can have units, and this is used by some operators and not others.  Each operator that creates or accumulates to detector data should enforce or convert units as needed.

[2022-09-08 23:01] keskitalo commented on #581
Fixed in #586

[2022-09-08 23:01] #581 closed

[2022-09-20 16:15] giuspugl commented on #585
Thanks for opening this issue! This is particularly of interest when signal is scanned from a map and noise is simulated on the fly by toast.  We should ensure that the units of the two are consistent.
E.g.  I also recently noticed that   [SimDipole](https://github.com/hpc4cmb/toast/blob/ab4e1794abb7069e30f01b46c07a782c39842d87/src/toast/ops/sim_tod_dipole.py#L20) produces the signal in units of K

[2022-09-20 16:50] giuspugl opened #590 "CrossTalk Operator doesn't run on >3 processors"
I have been further testing the [CrossTalk operator ](https://github.com/hpc4cmb/toast/blob/ab4e1794abb7069e30f01b46c07a782c39842d87/src/toast/ops/sim_crosstalk.py#L126and) its related [tests](https://github.com/hpc4cmb/toast/blob/toast3/src/toast/tests/ops_sim_crosstalk.py) and found out that fetching the  latest changes in toast  ( the crosstalk PR is ~ 1yr old https://github.com/hpc4cmb/toast/p

[2022-10-19 21:40] tskisner opened #596 "Add convenience method for getting slices from a view"
This issue was spawned by discussion in #593

Originally, the "view" concept (i.e. returning a list of detdata / shared views) seemed like a nice shorthand way of accessing the underlying data- especially when working interactively. However, depending on the underlying data, there can be a performance penalty looping over views first and then detectors within a view (since this is jumping around i

[2022-10-24 21:51] tskisner commented on #590
I believe this was fixed in #593 .  Running with latest toast3 branch (using a conda environment), I first created a conda env for installing toast:
[code]
Setup the conda env:
[code]
Activate that env:
[code]
Install mpi4py.  On most laptops / workstations this comes with a bundled openmpi that just works:
[code]
Install toast from source as a pip package, using the conda compilers:
[code]
Now ru

[2022-10-25 08:04] giuspugl commented on #590
Thanks a lot for the headsup @tskisner ! Now test  perfectly runs !
 however it 's not clear how you fixed it in PR#593  ?

[2022-11-07 19:13] #590 closed

[2022-11-09 13:28] gabrielecoppi opened #606 "Failing conviqt test"
I am running toast3 installed using `pip install --pre --upgrade toast3`. I have set-up a conda environment with all the dependencies (including _madam_ and _conviqt_) and I am failing the _conviqt_ tests. This is the message that I am getting:

[code]

Looking at the line [here](https://github.com/hpc4cmb/toast/blob/70effe3c18b0275c819be4f0b17211b2352d2ed8/src/toast/ops/conviqt.py#L317) and compa

[2022-11-09 15:17] tskisner commented on #606
Thanks for catching this typo!  I'll double check there are no other cases and also see why this failure was not picked up by the CI tests.

[2022-11-09 15:21] gabrielecoppi commented on #606
No problem. This was the only test failed based on my configuration.

[2022-11-16 11:07] giuspugl commented on #606
I can reproduce the `TypeError`  both in perlmutter and in Cori . thanks @gabrielecoppi  !

[2022-11-16 22:17] keskitalo commented on #606
PR #610 fixes the issue. Do we install libconviqt in our CI?

[2022-11-17 00:03] tskisner commented on #606
Hi @keskitalo , in principle the libconviqt unit test should run when we run the MPI tests within out docker container, for example:  https://github.com/hpc4cmb/toast/blob/ddae67de4154067d2317999f6cf6c31dd48ae047/.github/workflows/test.yml#L30

I should check that those are working...

[2022-11-17 00:19] tskisner commented on #606
Looks like something is not catching the failing unit tests.  I am leaving this open until it is addressed.

[2022-11-25 16:51] giuspugl opened #613 "Wrong assertion in GainTemplate tests"
i think the result  [detdata key](https://github.com/hpc4cmb/toast/blob/44d9f84ecc28752de2028cf3f402891ba34a1049/src/toast/ops/mapmaker.py#L556)
should encode the TOD calibrated, i.e. corrected by the gain fluctuations ,  expressed  as  the linear combination of  Legendre polinomials weighted by the amplitudes estimated by the toast mapmaker.
Instead the (https://github.com/hpc4cmb/toast/blob/44d9

[2022-11-25 17:14] giuspugl commented on #613
Also  in
https://github.com/hpc4cmb/toast/blob/44d9f84ecc28752de2028cf3f402891ba34a1049/src/toast/ops/mapmaker_templates.py#L1009
 what we should be dividing is not the template by the uncalibrated signal but the fitted gain amplitudes.
Similarly to what we do in https://github.com/hpc4cmb/toast/blob/ddae67de4154067d2317999f6cf6c31dd48ae047/src/toast/todmap/mapmaker.py#L411

[2022-11-28 15:19] tskisner opened #614 "Partial duplication and redistribution of observation fails roundtrip"
There are several operators that duplicate a portion of an observation, redistribute that, and do a calculation on the result before distributing back.  There seems to be a problem with that pattern, and we do not yet have a unit test covering it.